﻿@model KSM_Agro.Models.DealInfo

@{
    ViewData["Title"] = "Добавить сделку";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h4>Новая сделка</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" action="/panel/deals/new">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Product" class="control-label"></label>
                        <select asp-for="Product" class="form-control" asp-items="@ViewBag.Products" onchange="console.log(this.value)"></select>
                        <span asp-validation-for="Product" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuyPriceWithNDSForOneKG" class="control-label">Цена покупки</label>
                        <input type="checkbox" id="buyCheck" class="float-right" style="margin-top: 6px; margin-left: 10px;" /><label for="buyCheck" class="float-right">Включить НДС?</label>
                        <input type="text" asp-for="BuyPriceWithNDSForOneKG" class="form-control" value="0" />
                        <span asp-validation-for="BuyPriceWithNDSForOneKG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShipPriceWithNDSForOneKG" class="control-label">Цена доставки</label>
                        <input type="checkbox" id="shipCheck" class="float-right" style="margin-top: 6px; margin-left: 10px;" /><label for="shipCheck" class="float-right">Включить НДС?</label>
                        <input type="text" asp-for="ShipPriceWithNDSForOneKG" class="form-control" value="0" />
                        <span asp-validation-for="ShipPriceWithNDSForOneKG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SellPriceWithNDSForOneKG" class="control-label">Цена продажи</label>

                        <input type="text" asp-for="SellPriceWithNDSForOneKG" class="form-control" value="0" />
                        <span asp-validation-for="SellPriceWithNDSForOneKG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="PoteriDostavka" class="control-label">Предполагаемые потери при доставки</label>
                        <select id="PoteriDostavka" class="form-control">
                            <option value="0">больше чем 100кг/0,2% от объема</option>
                            <option value="1">меньше чем 100кг/0,2% от объема</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="PoteriPrijem" class="control-label">Предполагаемые потери при приемке</label>
                        <select id="PoteriPrijem" class="form-control">
                            <option value="0">Не учитываем</option>
                            <option value="1">Учитываем</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="department" class="control-label">Компания</label>
                        <select asp-for="department" class="form-control" asp-items="@ViewBag.Companies" onchange="console.log(this.value)"></select>
                        <span asp-validation-for="department" class="text-danger"></span>
                    </div>
                    <div style="display: block">
                        <div class="form-group" hidden="true">
                            <label asp-for="buyPriceNDS" class="control-label">НДС продавца</label>
                            <input type="number" asp-for="buyPriceNDS" value="0" />
                            <span asp-validation-for="buyPriceNDS" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden="true">
                            <label asp-for="ShipPriceNDS" class="control-label"></label>
                            <input type="number" asp-for="ShipPriceNDS" value="0" />
                            <span asp-validation-for="ShipPriceNDS" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden="true">
                            <label asp-for="SellPriceNDS" class="control-label"></label>
                            <input type="number" asp-for="SellPriceNDS" value="0" />
                            <span asp-validation-for="SellPriceNDS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PrijemCompenstion" class="control-label">Компанесация при приемке</label>
                        <select id="PrijemCompenstion" class="form-control">
                            <option value="0">без компанесации</option>
                            <option value="1">на покупателе</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="DostavCompenstion" class="control-label">Компанесация при доставке</label>
                        <select id="DostavCompenstion" class="form-control">
                            <option value="0">без компанесации</option>
                            <option value="1">на продавце</option>
                            <option value="2">на транспортной компании</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="DeltaCompinsation" class="control-label">Компанесация при доставке</label>
                        <select id="DeltaCompinsation" class="form-control">
                            <option value="0">без компанесации</option>
                            <option value="1">на продавце</option>
                            <option value="2">на транспортной компании</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MoneyNDS" class="control-label"></label>
                        <select asp-for="MoneyNDS" class="form-control">
                            <option value="1">1%</option>
                            <option value="20">20%</option>
                        </select>
                        <span asp-validation-for="MoneyNDS" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="dopraschsumm" class="control-label">Дополнительные расходы</label>
                        <input type="number" id="dopraschsumm" class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Учесть накладные расходы?</label>
                        <select id="CheckNakRash" class="form-control">
                            <option value="1">
                                Да
                            </option>
                            <option value="0">
                                Нет
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="ObjemTovar" class="control-label">Объем отгрузки</label>
                        <input id="ObjemTovar" name="ObjemTovar" class="form-control number" value="0" oninput="setStringToDel()" />
                    </div>
                    <div class="form-group">
                        <label asp-for="prodWithOutNDS" class="control-label">Выручка</label>
                        <input asp-for="prodWithOutNDS" class="form-control number" onchange="setStringToDel()" />
                        <span asp-validation-for="prodWithOutNDS" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="marjPribyl" class="control-label">Маржинальная прибыль</label>
                        <input asp-for="marjPribyl" class="form-control number" onchange="setStringToDel()" />
                        <span asp-validation-for="marjPribyl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="marjaOneKg" class="control-label">Маржинальная прибыль На 1 кг</label>
                        <input asp-for="marjaOneKg" class="form-control number" onchange="setStringToDel()" />
                        <span asp-validation-for="marjaOneKg" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="chistPryb" class="control-label">Чистая прибыль</label>
                        <input asp-for="chistPryb" class="form-control number" onchange="setStringToDel()" />
                        <span asp-validation-for="chistPryb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="chistPrybOneKG" class="control-label">Чистая прибыль на 1 кг</label>
                        <input asp-for="chistPrybOneKG" class="form-control number" onchange="setStringToDel()" />
                        <span asp-validation-for="chistPrybOneKG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Посчитать" class="btn btn-outline-success " onclick="CalculateAjax()" />
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Отправить на согласование" class="btn btn-outline-primary " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

<script type="text/javascript">
    var buyNDS = 0;
    function numberWithSpaces(x) {
  var parts = x.toString().split(".");
  parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
  return parts.join(".");
    }
    $("#buyCheck").change(() => { console.log($("#buyCheck").prop("checked")) });

    $('input[type=checkbox]').change(() => {
        if (!$("#buyCheck").prop("checked")) {
            //document.getElementById('buyNDS').selectedIndex = 0;
            $("#buyNDS").val(0);

        } else {
            //document.getElementById('buyNDS').selectedIndex = 1;
            $("#buyNDS").val(10);
        }
        if (!$("#shipCheck").prop("checked")) {
            //document.getElementById('buyNDS').selectedIndex = 0;
            $("#ShipPriceNDS").val(0);

        } else {
            //document.getElementById('buyNDS').selectedIndex = 1;
            $("#ShipPriceNDS").val(10);
        }
    })

    window.onload = () => {
        console.log()
        if ($("#Department").val() == "1") {
            console.log(true);
            $("#MoneyNDS").val(20);
            $("#SellPriceNDS").val(10);
        } else {
            $("#MoneyNDS").val(1);
            $("#SellPriceNDS").val(0);
        }
    }


    $("#Department").change(() => {
        if ($("#Department").val() == "1") {
            console.log(true);
            $("#MoneyNDS").val(20);
            $("#SellPriceNDS").val(10);
        } else {
            $("#MoneyNDS").val(1);
            $("#SellPriceNDS").val(0);
        }
    });




    function CalculateAjax() {
        var data1 = {
            Product:$('#Product').val(),
            Department:$('#Department').val(),
            BuyPriceWithNDSForOneKG:$('#BuyPriceWithNDSForOneKG').val(),
            ShipPriceWithNDSForOneKG:$('#ShipPriceWithNDSForOneKG').val(),
            SellPriceWithNDSForOneKG:$('#SellPriceWithNDSForOneKG').val(),
            PoteriDostavkaH4:$('#PoteriDostavka').val(),
            PoteriPrijemH12:$('#PoteriPrijem').val(),
            dopraschsumm:$('#dopraschsumm').val(),
            ObjemTovar:$('#ObjemTovar').val(),
            buyNDS:$('#buyNDS').val(),
            ShipPriceNDS:$('#ShipPriceNDS').val(),
            SellPriceNDS:$('#SellPriceNDS').val(),
            PrijemCompenstionH14:$('#PrijemCompenstion').val(),
            DostavCompenstionH6:$('#DostavCompenstion').val(),
            MoneyNDS:$('#MoneyNDS').val()
        }

        $.post("/panel/deals/new/calculate", data1).done((data) => {
            data = JSON.parse(data);
            $('#prodWithOutNDS').val(data.vyruchka);
            $('#marjPribyl').val(data.marja);
            $('#chistPryb').val(data.chist);
            $('#marjaOneKg').val(data.marjakg);
            $('#chistPrybOneKG').val(data.chistkg);
            $('#prodWithOutNDS').val(numberWithSpaces($('#prodWithOutNDS').val()));
            $('#marjPribyl').val(numberWithSpaces($('#marjPribyl').val()));
            $('#chistPryb').val(numberWithSpaces($('#chistPryb').val()));
            $('#marjaOneKg').val(numberWithSpaces(Math.round ($('#marjaOneKg').val()*100)/100));
            $('#chistPrybOneKG').val(numberWithSpaces(Math.round ($('#chistPrybOneKG').val()*100)/100));
        });
    }



    function CalcilateWithOutNDS(withnds, nds) {
        if (nds == 0) { return withnds * 1; } else {
            var val = withnds/((nds + 100)/100);
            return val*1;
        }

    }
</script>

