﻿@model KSM_Agro.Models.DealInfo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DealInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealTimeLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealTimeLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeltaShipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeltaShipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SummDeltaShipp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SummDeltaShipp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmitDelta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmitDelta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportdopRaschod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportdopRaschod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtSummWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtSummWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtShipNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtShipNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtShipWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtShipWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtPayWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtPayWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buySancForLost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buySancForLost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyWithCompensation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyWithCompensation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.withOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.withOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buySummWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buySummWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSOtgruz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSOtgruz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSOneKGPriceWithoutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSOneKGPriceWithoutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSSumm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSSumm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safePriceWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safePriceWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SafePriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SafePriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safeSUMMWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safeSUMMWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raschAgentskije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raschAgentskije)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raschProchee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raschProchee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raschSummAll)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raschSummAll)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodNDSSumm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodNDSSumm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodPayWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodPayWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRaschWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRaschWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRaschOfDepartmentWithOutNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRaschOfDepartmentWithOutNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRasch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRasch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRaschSUMM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRaschSUMM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjPribyl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjPribyl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjiNalnost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjiNalnost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjaOneKg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjaOneKg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MPMinusNDSNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MPMinusNDSNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjiNalnostNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjiNalnostNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjaOneKgNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjaOneKgNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prybDoNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prybDoNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nalogNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nalogNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPryb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPryb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybOneKG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybOneKG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybRenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriPriDostWithOutCompensation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriPriDostWithOutCompensation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriPribPriDostWithOutCompensation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriPribPriDostWithOutCompensation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriPryb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriPryb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriDostavPrijem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriDostavPrijem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybnedPryb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybnedPryb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybOneKGFinish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybOneKGFinish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.finishRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finishRenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyPriceWithNDSForOneKG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyPriceWithNDSForOneKG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPriceWithNDSForOneKG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPriceWithNDSForOneKG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellPriceWithNDSForOneKG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellPriceWithNDSForOneKG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyPriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyPriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellPriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellPriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyNDS)
        </dd>
    </dl>
    
    <form action="/panel/deals/delete/@Html.DisplayFor(model => model.ID)" method="post">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
