﻿@model KSM_Agro.Models.DealInfo
@{
    Deal[] deals = ViewBag.SubDeals;
    ViewData["Title"] = "Детали сделки";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    Console.WriteLine(deals);
    User user = ViewBag.User;
}

<div class="btn-group" style="margin-bottom: 15px;">
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID">Изменить</a>
    <a class="btn btn-primary" asp-action="Index">Обратно</a>
</div>
<ul class="nav nav-tabs" style="margin-bottom: 20px;">
    <li class="active"><a data-toggle="tab" href="#home">Общие данные</a></li>
    @{ if (Model.dealStatus.ID != 1)
        {
            <li><a data-toggle="tab" href="#menu1">Отгрузки</a></li>
        }

    }

</ul>
<div class="tab-content">
    <div id="home" class="tab-pane active">
        <div>
            <h4>Детали сделки @Html.DisplayFor(model => model.UID)</h4>
            <hr />
            <h5>Ожидаемые параметры</h5>
            <div class="row">
                <div class="col-md-2 text-white" id="container">
                    <div style="min-height: 150px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius: 8px; margin: 5px;" class="rndgrad d-flex flex-column justify-content-center align-items-center">
                        <h4>@Html.DisplayFor(model => model.Price)</h4>
                        <p>Объем продажи</p>
                    </div>
                </div>
                <div class="col-md-2 text-white" id="container">
                    <div style="min-height: 150px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius: 8px; margin: 5px;" class="rndgrad d-flex flex-column justify-content-center align-items-center">
                        <h4>@Html.DisplayFor(model => model.marjPribyl)</h4>
                        <p>Маржинальная прибыль</p>
                    </div>
                </div>
                <div class="col-md-2 text-white" id="container">
                    <div style="min-height: 150px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius: 8px; margin: 5px;" class="rndgrad d-flex flex-column justify-content-center align-items-center">
                        <h4>@Html.DisplayFor(model => model.marjaOneKg)</h4>
                        <p>Маржа на 1 кг</p>
                    </div>
                </div>
                <div class="col-md-2 text-white" id="container">
                    <div style="min-height: 150px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius: 8px; margin: 5px;" class="rndgrad d-flex flex-column justify-content-center align-items-center">
                        <h4>@Html.DisplayFor(model => model.chistPryb)</h4>
                        <p>Чистая прибыль</p>
                    </div>
                </div>
                <div class="col-md-2 text-white" id="container">
                    <div style="min-height: 150px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius: 8px; margin: 5px;" class="rndgrad d-flex flex-column justify-content-center align-items-center">
                        <h4>@Html.DisplayFor(model => model.chistPrybOneKG)</h4>
                        <p>Чистая прибыль на 1 кг</p>
                    </div>
                </div>
                <div class="col-md-2 text-white" id="container">
                    <div style="min-height: 150px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); border-radius: 8px; margin: 5px;" class="rndgrad d-flex flex-column justify-content-center align-items-center">
                        <h4>@Html.DisplayFor(model => model.prodWithOutNDS)</h4>
                        <p>Продажи без НДС</p>
                    </div>
                </div>
            </div>
            <h5 style="margin-top: 40px!important;">Текущие параметры</h5>
            <div class="row">
                
            </div>
            @if (Model.dealStatus.ID == 1 && user.UserRole > 2)
            {
                <button id="submit-btn" class="btn btn-outline-info" onclick="SubmitDeal(this)">Подтвердить сделку</button>
            }
        </div>
    </div>
    @{ if (Model.dealStatus.ID != 1)
        {
            <div id="menu1" class="tab-pane fade">
                <button class="btn btn-outline-primary" style="margin-top: 30px;" onclick="NewEtap()">Добавить отгрузку</button>
                <table class="table">
                    <thead>
                        <tr style="text-align: center">
                            <th>Номер</th>
                            <th>Статутс машины</th>
                            <th>Куплено</th>
                            <th>Доставлено</th>
                            <th>Транспортные расходы</th>
                            <th>Вырчка</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (deals.Length != 0)
                            {
                                for (int i = 0; i < deals.Length; i++)
                                {
                                    <tr style="text-align: center">
                                        <td style="text-align: center;"> @deals[i].DealUID</td>
                                        <td style="text-align: center;">
                                            @deals[i].CarStatus
                                        </td>
                                        <td style="text-align: center;">
                                            @deals[i].Price
                                        </td>
                                        <td style="text-align: center;">
                                            @deals[i].ShipPrice
                                        </td>
                                        <td style="text-align: center;">
                                            @deals[i].TransportdopRaschod
                                        </td>
                                        <td style="text-align: center;">
                                            @deals[i].prodWithNDS
                                        </td>
                                        <td style="text-align: center;">
                                            <a asp-action="Edit" asp-route-id="@deals[i].DealID" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Details" asp-route-id="@deals[i].DealID" class="btn btn-warning"><i class="fa fa-info"></i></a>
                                            <a asp-action="Delete" asp-route-id="@deals[i].DealID" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>

                </table>
                <a id="neweatplink" class="btn bg-success">123</a>
            </div>
        }

    }
</div>

<script>
    function NewEtap() {
        console.log(window.location.href)
        window.location.href = window.location.href + "/otgruzki/new";
    }


    function SubmitDeal(event) {
        console.log(event.target)
        $.post("/panel/deals/submit/@Model.ID").done((data) => {
            console.log(data);
            data = JSON.parse(data);
            if (!data.submit) {
                alert("Неуспешно")
            }
            if (data.submit) {
                alert("Сделка успешено подтверждена")
                $("#submit-btn").css("display", "none");
                location.reload();
            }
        });
    }
    function generate() {
        console.log("градиент");
        var hexValues = ["0","1","2","3","4","5","6","7","8","9","a","b","c","d","e"];
        
        function populate(a) {
          for ( var i = 0; i < 6; i++ ) {
            var x = Math.round( Math.random() * 14 );
            var y = hexValues[x];
            a += y;
          }
          return a;
        }
        
        var newColor1 = populate('#');
        var newColor2 = populate('#');
        var angle = Math.round( Math.random() * 360 );
        
        var gradient = "linear-gradient(" + angle + "deg, " + newColor1 + ", " + newColor2 + ")";
        return gradient;
        
        //document.getElementsByClassName("rndgrad").forEach   .style.background = gradient;
        //document.getElementById("output").innerHTML = gradient;
    }
    $(".rndgrad").each(function (index) {
        $(this).css("background", generate());
        });
    $('.deal-data').html($('.deal-data').html().split(' ')[20]);
</script>



