﻿@model KSM_Agro.Models.DealInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Edit</h2>

<h4>DealInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealDS" class="control-label"></label>
                <input asp-for="DealDS" class="form-control" />
                <span asp-validation-for="DealDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UID" class="control-label"></label>
                <input asp-for="UID" class="form-control" />
                <span asp-validation-for="UID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealTimeLong" class="control-label"></label>
                <input asp-for="DealTimeLong" class="form-control" />
                <span asp-validation-for="DealTimeLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonePrice" class="control-label"></label>
                <input asp-for="DonePrice" class="form-control" />
                <span asp-validation-for="DonePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipPrice" class="control-label"></label>
                <input asp-for="ShipPrice" class="form-control" />
                <span asp-validation-for="ShipPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeltaShipping" class="control-label"></label>
                <input asp-for="DeltaShipping" class="form-control" />
                <span asp-validation-for="DeltaShipping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummDeltaShipp" class="control-label"></label>
                <input asp-for="SummDeltaShipp" class="form-control" />
                <span asp-validation-for="SummDeltaShipp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmitDelta" class="control-label"></label>
                <input asp-for="SubmitDelta" class="form-control" />
                <span asp-validation-for="SubmitDelta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportdopRaschod" class="control-label"></label>
                <input asp-for="TransportdopRaschod" class="form-control" />
                <span asp-validation-for="TransportdopRaschod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transoprtSummWithNDS" class="control-label"></label>
                <input asp-for="transoprtSummWithNDS" class="form-control" />
                <span asp-validation-for="transoprtSummWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transoprtShipNDS" class="control-label"></label>
                <input asp-for="transoprtShipNDS" class="form-control" />
                <span asp-validation-for="transoprtShipNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transoprtShipWithOutNDS" class="control-label"></label>
                <input asp-for="transoprtShipWithOutNDS" class="form-control" />
                <span asp-validation-for="transoprtShipWithOutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transoprtPayWithNDS" class="control-label"></label>
                <input asp-for="transoprtPayWithNDS" class="form-control" />
                <span asp-validation-for="transoprtPayWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyWithNDS" class="control-label"></label>
                <input asp-for="buyWithNDS" class="form-control" />
                <span asp-validation-for="buyWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buySancForLost" class="control-label"></label>
                <input asp-for="buySancForLost" class="form-control" />
                <span asp-validation-for="buySancForLost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyWithCompensation" class="control-label"></label>
                <input asp-for="buyWithCompensation" class="form-control" />
                <span asp-validation-for="buyWithCompensation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyNDS" class="control-label"></label>
                <input asp-for="buyNDS" class="form-control" />
                <span asp-validation-for="buyNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="withOutNDS" class="control-label"></label>
                <input asp-for="withOutNDS" class="form-control" />
                <span asp-validation-for="withOutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buySummWithNDS" class="control-label"></label>
                <input asp-for="buySummWithNDS" class="form-control" />
                <span asp-validation-for="buySummWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cSOtgruz" class="control-label"></label>
                <input asp-for="cSOtgruz" class="form-control" />
                <span asp-validation-for="cSOtgruz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cSOneKGPriceWithoutNDS" class="control-label"></label>
                <input asp-for="cSOneKGPriceWithoutNDS" class="form-control" />
                <span asp-validation-for="cSOneKGPriceWithoutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cSSumm" class="control-label"></label>
                <input asp-for="cSSumm" class="form-control" />
                <span asp-validation-for="cSSumm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="safePriceWithNDS" class="control-label"></label>
                <input asp-for="safePriceWithNDS" class="form-control" />
                <span asp-validation-for="safePriceWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SafePriceNDS" class="control-label"></label>
                <input asp-for="SafePriceNDS" class="form-control" />
                <span asp-validation-for="SafePriceNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="safeSUMMWithOutNDS" class="control-label"></label>
                <input asp-for="safeSUMMWithOutNDS" class="form-control" />
                <span asp-validation-for="safeSUMMWithOutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="raschAgentskije" class="control-label"></label>
                <input asp-for="raschAgentskije" class="form-control" />
                <span asp-validation-for="raschAgentskije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="raschProchee" class="control-label"></label>
                <input asp-for="raschProchee" class="form-control" />
                <span asp-validation-for="raschProchee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="raschSummAll" class="control-label"></label>
                <input asp-for="raschSummAll" class="form-control" />
                <span asp-validation-for="raschSummAll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodWithNDS" class="control-label"></label>
                <input asp-for="prodWithNDS" class="form-control" />
                <span asp-validation-for="prodWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodNDSSumm" class="control-label"></label>
                <input asp-for="prodNDSSumm" class="form-control" />
                <span asp-validation-for="prodNDSSumm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodWithOutNDS" class="control-label"></label>
                <input asp-for="prodWithOutNDS" class="form-control" />
                <span asp-validation-for="prodWithOutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodPayWithNDS" class="control-label"></label>
                <input asp-for="prodPayWithNDS" class="form-control" />
                <span asp-validation-for="prodPayWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nakRaschWithOutNDS" class="control-label"></label>
                <input asp-for="nakRaschWithOutNDS" class="form-control" />
                <span asp-validation-for="nakRaschWithOutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nakRaschOfDepartmentWithOutNP" class="control-label"></label>
                <input asp-for="nakRaschOfDepartmentWithOutNP" class="form-control" />
                <span asp-validation-for="nakRaschOfDepartmentWithOutNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nakRasch" class="control-label"></label>
                <input asp-for="nakRasch" class="form-control" />
                <span asp-validation-for="nakRasch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nakRaschSUMM" class="control-label"></label>
                <input asp-for="nakRaschSUMM" class="form-control" />
                <span asp-validation-for="nakRaschSUMM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marjPribyl" class="control-label"></label>
                <input asp-for="marjPribyl" class="form-control" />
                <span asp-validation-for="marjPribyl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marjiNalnost" class="control-label"></label>
                <input asp-for="marjiNalnost" class="form-control" />
                <span asp-validation-for="marjiNalnost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marjaOneKg" class="control-label"></label>
                <input asp-for="marjaOneKg" class="form-control" />
                <span asp-validation-for="marjaOneKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPMinusNDSNP" class="control-label"></label>
                <input asp-for="MPMinusNDSNP" class="form-control" />
                <span asp-validation-for="MPMinusNDSNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marjiNalnostNP" class="control-label"></label>
                <input asp-for="marjiNalnostNP" class="form-control" />
                <span asp-validation-for="marjiNalnostNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marjaOneKgNP" class="control-label"></label>
                <input asp-for="marjaOneKgNP" class="form-control" />
                <span asp-validation-for="marjaOneKgNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prybDoNP" class="control-label"></label>
                <input asp-for="prybDoNP" class="form-control" />
                <span asp-validation-for="prybDoNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nalogNP" class="control-label"></label>
                <input asp-for="nalogNP" class="form-control" />
                <span asp-validation-for="nalogNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chistPryb" class="control-label"></label>
                <input asp-for="chistPryb" class="form-control" />
                <span asp-validation-for="chistPryb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chistPrybOneKG" class="control-label"></label>
                <input asp-for="chistPrybOneKG" class="form-control" />
                <span asp-validation-for="chistPrybOneKG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chistPrybRenta" class="control-label"></label>
                <input asp-for="chistPrybRenta" class="form-control" />
                <span asp-validation-for="chistPrybRenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poteriPriDostWithOutCompensation" class="control-label"></label>
                <input asp-for="poteriPriDostWithOutCompensation" class="form-control" />
                <span asp-validation-for="poteriPriDostWithOutCompensation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poteriPribPriDostWithOutCompensation" class="control-label"></label>
                <input asp-for="poteriPribPriDostWithOutCompensation" class="form-control" />
                <span asp-validation-for="poteriPribPriDostWithOutCompensation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poteriPryb" class="control-label"></label>
                <input asp-for="poteriPryb" class="form-control" />
                <span asp-validation-for="poteriPryb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="poteriDostavPrijem" class="control-label"></label>
                <input asp-for="poteriDostavPrijem" class="form-control" />
                <span asp-validation-for="poteriDostavPrijem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chistPrybnedPryb" class="control-label"></label>
                <input asp-for="chistPrybnedPryb" class="form-control" />
                <span asp-validation-for="chistPrybnedPryb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chistPrybOneKGFinish" class="control-label"></label>
                <input asp-for="chistPrybOneKGFinish" class="form-control" />
                <span asp-validation-for="chistPrybOneKGFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="finishRenta" class="control-label"></label>
                <input asp-for="finishRenta" class="form-control" />
                <span asp-validation-for="finishRenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyPriceWithNDSForOneKG" class="control-label"></label>
                <input asp-for="BuyPriceWithNDSForOneKG" class="form-control" />
                <span asp-validation-for="BuyPriceWithNDSForOneKG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipPriceWithNDSForOneKG" class="control-label"></label>
                <input asp-for="ShipPriceWithNDSForOneKG" class="form-control" />
                <span asp-validation-for="ShipPriceWithNDSForOneKG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPriceWithNDSForOneKG" class="control-label"></label>
                <input asp-for="SellPriceWithNDSForOneKG" class="form-control" />
                <span asp-validation-for="SellPriceWithNDSForOneKG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyPriceNDS" class="control-label"></label>
                <input asp-for="buyPriceNDS" class="form-control" />
                <span asp-validation-for="buyPriceNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipPriceNDS" class="control-label"></label>
                <input asp-for="ShipPriceNDS" class="form-control" />
                <span asp-validation-for="ShipPriceNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPriceNDS" class="control-label"></label>
                <input asp-for="SellPriceNDS" class="form-control" />
                <span asp-validation-for="SellPriceNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyNDS" class="control-label"></label>
                <input asp-for="MoneyNDS" class="form-control" />
                <span asp-validation-for="MoneyNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

