﻿
@{ 
    ViewData["Title"] = "ООО КСМ-Агро - О компании";
    ViewBag.Description = "ООО КСМ-Агро - компания лидер в области продажи и производства сельскохозяйственной продукции. Прайс лист, контакты. История.";
    ViewBag.Keywords = "about, corn, зерно, пшеница, кукуруза, агрокультуры, о компании, сведения, документы";
}

<section id="about-1-section">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 72px; text-align: center">ООО КСМ</h1>
    </div>
</section>
<section>
    <div class="container" style="margin-top: 80px; margin-bottom: 80px;">
        <h1 style="text-align:center; background-color: yellow" >
            ООО «КСМ» более десяти лет успешно работает на рынке строительно-монтажных услуг.</h1>
        <h3>
            Одним из основных направлений деятельности компании является монтаж «под ключ» металлоконструкций зданий и сооружений, оборудования сельскохозяйственного назначения в том числе: установок и машин различного назначения, технологических трубопроводов, силовых и слаботочных сетей, сложного технологического оборудования.

        </h3>
    </div>
</section>