﻿
@{
    ViewData["Title"] = "ООО КСМ - Строительно-монтажные работы";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "ООО КСМ - Выполнение строительно-монтажных работ в сфере АПК любой сложности. Предоставьте эту работу нам";
    ViewBag.Keywords = "ВЭД, вэд, экспорт, импорт, КСМ, КСМ-Агро, ксм агро, прйс лист, прйс, услуги, зерно, пшеница, строительство";
}

<section style="background: url(/home/images/slide_4.jpg); width: 100%; padding-top: 60px; background-position: center; background-repeat: no-repeat; height: 50vh">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 55px; text-align: center">Строительно-монтажные<br /> работы</h1>
    </div>
</section>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-9">
            <h2 style="text-align: center">Выполнение работы под ключ</h2>
            <h4 style="text-align: center; margin-top: 40px; margin-bottom: 60px;">
                ООО «КСМ» более десяти лет успешно работает на рынке строительно-монтажных услуг. Одним из основных направлений деятельности компании является монтаж «под ключ» металлоконструкций зданий и сооружений, оборудования сельскохозяйственного назначения в том числе: установок и машин различного назначения, технологических трубопроводов, силовых и слаботочных сетей, сложного технологического оборудования.

            </h4>
            <img style="width: 600px;" src="https://img-fotki.yandex.ru/get/6617/118580265.20/0_896fa_90b5d4c3_XXL" />
            <h4>
                ООО «КСМ» имеет высококвалифицированный персонал, производственную базу и парк строительной техники, что позволяет выполнять работы повышенной сложности в сжатые сроки с высоким уровнем качества.

            </h4>
        </div>
    </div>
    
</div>