﻿@{
    ViewData["Title"] = "КСМ-Агро - Контакты";
    ViewBag.Description = "ООО КСМ-Агро - компания лидер в области продажи и производства сельскохозяйственной продукции. Прайс лист, контакты. История.";
    ViewBag.Keywords = "about, corn, зерно, о компании, сведения, документы, инн, КПП, ИНН, контактная информация";
}


    <section id="contacts-section">
        <div class="overlay flex-all-center">
            <h1 style="color: white; font-size: 72px; text-align: center">Контактная информация</h1>
        </div>
    </section>
<section>
    <div class="container" style="margin-bottom: 60px; margin-top: 60px;">
        <div class="row">
            <div class="col-md-4 contact-card">
                <h4>ООО "КСМ"</h4>Телефон:<a href="tel: +7 (800)200-35-18">+7 (800)200-35-18</a> <br>Email: <a href="mailto:info@ksm-agro.com">info@ksm-agro.com</a><br>Адрес:  357111, Ставропольский край,
                город Невинномысск,
                улица Монтажная, дом 18а
            </div>
            <div class="col-md-4 contact-card">
                <h4>ООО "КСМ" Краснодар</h4>Телефон:<a href="tel: +7 (918)140-04-26"> +7 (918)140-04-26</a><br>Email: <a href="mailto:krasnodar@ksm-agro.com">krasnodar@ksm-agro.com</a><br>Адрес: 350051  г. Краснодар ул. Монтажников д.3 оф. 15
            </div>
            <div class="col-md-4 contact-card">
                <h4>ООО "КСМ" Москва</h4>Телефон: +7 (918)140-04-26<br>Email: <a href="mailto:moscow@ksm-agro.com">moscow@ksm-agro.com</a><br>Адрес: 119435 г Москва, пер Саввинский Б., д 11
            </div>
        </div>
    </div>
</section>
