﻿
@{
    ViewData["Title"] = "ООО КСМ - Демонтаж и разрушение";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "ООО КСМ - Выполнение работ по демонтажу металлоконструкций. Даже разрушение должно быть красивым";
    ViewBag.KeyWord = "демонтаж, разрушение, реставрация, КСМ, ксм, ксм агро, ksm-agro.com, строительство";
}
<section style="background: url(/home/images/services.jpg); width: 100%; padding-top: 60px; background-position: center; background-repeat: no-repeat; height: 50vh; background-size: cover;">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 55px; text-align: center">Демонтаж - это красиво</h1>
    </div>
</section>

<section style="background-color: rgba(128, 128, 128, 0.08); margin-bottom: 80px;">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h3 style="text-align: center; margin-top: 40px; margin-bottom: 60px;">
                    Уже более 4 лет ООО КСМ занимается демонтажом <br /> строений различного назначений
                </h3>
                <div class="w-100" style="height: 500px; background: url(/home/images/projects/kashira/main.jpg)"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 250px;">
                            <img style="width: 150px" src="https://png.pngtree.com/svg/20170302/b734a1f69c.svg" />
                            <p style="text-align: center; margin-top: 30px;">Проектирование</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 250px;">
                            <img style="width: 150px" src="http://www.myiconfinder.com/uploads/iconsets/256-256-1cf7344e1bb0b0dac4d06d0ed991fd4e.png" />
                            <p style="text-align: center; margin-top: 30px;">Разработка</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 250px;">
                            <img style="width: 150px" src="https://static.thenounproject.com/png/639122-200.png" />
                            <p style="text-align: center; margin-top: 30px;">Выполнение</p>
                        </div>
                    </div>
                </div>
                <div>
                    Демонтаж металлоконструкций – технически сложная работа по ликвидации или сносу сооружений из металла. Процесс включает в себя широкий спектр задач по разборке и резке металлических конструкций, требует специальных знаний и навыков.
                    <h2>Какие объекты демонтирует компания?</h2>
                    ООО "КСМ" предоставляет услуги по демонтажу металлоконструкций на территории Москвы и Московской области различной степени сложности вне зависимости от их труднодоступности и расположения. Наши сотрудники учтут возможные нюансы для соблюдения мер безопасности и соблюдут все нормы и стандарты. <br>
                    <br>
                    Это могут быть гаражи, ангары, рыночные постройки, вагоны, склады, а также прочие металлические сооружения.
                    <p style="text-align: center;">
                        <img alt="Демонтаж металлоконструкций в Москве и области - ООО КСМ" src="/home/images/projects/fosforit/2017-09-12-PHOTO-00000452.jpg" title="Демонтаж металлоконструкций в Москве и области - ООО КСМ" style="padding: 2px; width: 100%; height: auto">
                    </p>
                    <h2>От чего зависит стоимость демонтажа металлоконструкций? </h2>
                    Для того, чтобы определить приблизительную стоимость всей работы, нужно учитывать специфику и особенности каждого объекта, но точные расценки вам смогут огласить после вызова эксперта-оценщика. Он сможет разработать и рассчитать смету, а после озвучит вам точную цену услуг демонтажа за 1 тонну. <br>
                    <br>
                    Тем не менее есть определенный ряд факторов, влияющих на прайс:
                    <ul>
                        <li>Размер, техническая специфика объекта; </li>
                        <li>Сложность работы; </li>
                        <li>Особенности расположения объекта на территории; </li>
                        <li>Затраты на производство работ, использование спецтехники и рабочей силы; </li>
                        <li>Дополнительные услуги, утилизации отходов. </li>
                    </ul>
                    Если вы решите продать полученный в ходе демонтажа лом нам, мы обеспечим его бесплатный самовывоз, а также предложим цену за металл выше рыночной.
                    <img alt="Демонтаж металлоконструкций в Москве и области - ООО КСМ" src="/home/images/projects/segeja/main.jpg" title="Демонтаж металлоконструкций в Москве и области - ООО КСМ" style="padding: 2px; width: 100%; height: auto">
                    <h2>Как происходит демонтаж: особенности процесса </h2>
                    Главной особенностью демонтажа является создание безопасных условий для человека и других близкорасположенных объектов. Предварительный подробно составленный мастером план – гарант качественно выполненной работы. Естественно не обойтись без специалистов своего дела, ответственных за технику безопасности и ход выполняемого демонтажа металлоконструкций. <br>
                    <br>
                    Все виды работ, что направлены на устранение лишних сооружений, решаются в несколько этапов:
                    <ul>
                        <li>Экспертная оценка объекта; </li>
                        <li>Оформление необходимой документации; </li>
                        <li>Демонтаж металлических конструкций; </li>
                        <li>Транспортировка металла, уборка мусора, его утилизация. </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

