﻿@{
    ViewData["Title"] = "КСМ-Агро - Документы";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "КСМ-Агро - Документы";
    ViewBag.Description= "Документы организации ООО КСМ";
    ViewBag.Keyword = "КСМ, зерно, агрокультуры, контакты, связь, позвонить, Невинноымсск, Краснодар";
}

<section id="docs-section">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 72px; text-align: center">Документы компании</h1>
    </div>
</section>


<section>
    <div class="container">
        <h2 style="margin-top: 45px">Уставные докменты</h2>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="card card-1">
                    <img src="https://pixy.org/src/9/thumbs190/99294.jpg" />
                    <a href="/docs/inn.pdf" style="text-align: center"><h3>ИНН</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="card card-1">
                    <img src="https://pixy.org/src/9/thumbs190/99294.jpg" />
                    <a href="/docs/ogrn.pdf" style="text-align: center"><h3>ОГРН</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="card card-1">
                    <img src="https://pixy.org/src/9/thumbs190/99294.jpg" />
                    <a href="/docs/ustav.pdf" style="text-align: center"><h3>УСТАВ</h3></a>
                </div>
            </div>
        </div>
        <h2 style="margin-top: 45px; margin-bottom: 30px;">Регулируюшие докменты</h2>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="card card-1">
                    <img src="https://pixy.org/src/9/thumbs190/99294.jpg" />
                    <a href="/docs/naks.pdf" style="text-align: center"><h3>Свидетельство НАКС</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="card card-1">
                    <img src="https://pixy.org/src/9/thumbs190/99294.jpg" />
                    <a href="/docs/ekostroj.pdf" style="text-align: center"><h3>СРО Экострой</h3></a>
                </div>
            </div>
        </div>
    </div>
</section>

