﻿
@{
    ViewData["Title"] = "КСМ-Агро - Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "ООО КСМ - Сотрудники это наше все и мы максимально о них заботимся";
    ViewBag.Keyword = "сотрудники, прайс лист, новости, пшеница, зерно, кукуруза, металлы, Невинномысск, Ставропольский край";
}


<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(https://i0.wp.com/avtech.com/articles/wp-content/uploads/2018/07/meeting-2284501_1920.jpg?ssl=1);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Надежный коллектив - залог успеха</h2>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<section>
    <div class="container">
        <table class="table table-striped" style="margin-top: 50px; margin-bottom: 40px; text-align: center">
            <thead >
                <tr>
                    <th style="text-align: center">#</th>
                    <th style="text-align: center">Вид персонала</th>
                    <th style="text-align: center">Количество человек</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Административно-управленческий персонал</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Начальники участков, производители работ, мастера СМР</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Специалисты МТО</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Специалисты ПТО, бухгалтерия, отдел кадров</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Охрана труда</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Водители механизаторы</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Сварщики</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Монтажники, электромонтажники, электромонтеры</td>
                    <td>149</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>