﻿
@{
    ViewData["Title"] = "КСМ-Агро - Проекты";
    ViewBag.Description = "Только качественные и надёжные услуги ООО КСМ. Гарантия успеха и продвижения. Берите то, что Вам необходимо";
    ViewBag.Keywords = "ВЭД, вэд, экспорт, импорт, КСМ, КСМ-Агро, ксм агро, прйс лист, прйс, услуги, зерно, пшеница, строительство";
}

    <section style="background-image: url(/home/images/elevat.jpg); position: relative; z-index: 998" class="imaged">
        <div class="container  h-100 align-items-center d-flex justify-content-center">
            <div class="top-section-h1">КСМ</div>
            <button class="down-scroll" onclick="smoothScroll('stats')">Далее</button>
        </div>
    </section>

