﻿@{ 
    ViewData["Title"] = "ООО КСМ-Агро - Главная";
    ViewBag.Description = "Главная страница ООО КСМ. У нас вы найдете лучшую продукцию для сельскохозяйственного сектора. Узнаете цены на товар и ознакомитесь с нашим коталогом";
    ViewBag.Keywords = "зерно, купить зерно, 1 зерно, какое зерно, пшеница, озимая пшеница, купить пшеницу, сорта пшеницы, цена, зерно прайс-лист, зерно прайс лист, кукуруза прайс-лист, кукуруза прайс лист, кукуруза купить, кукуруза цена, пшено прайс-лист, пшено прайс лист, пшено купить, пшено цена, ячмень";
}

<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(https://ksm-agro.com/home/images/slide_1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Агрокультуры</h2>
                            <p><a href="/products#agriculture" class="btn btn-primary btn-lg">Перейти</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(https://ksm-agro.com/home/images/slide_3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Минеральные удобрения</h2>
                            <p><a href="/products#minerals" class="btn btn-primary btn-lg">Ознакомиться</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(https://ksm-agro.com/home/images/slide_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Нерудные материалы</h2>
                            <p><a href="/products#nerud" class="btn btn-primary btn-lg">Ознакомиться</a></p>
                        </div>
                    </div>
                </div>
            </li>

            <li style="background-image: url(https://ksm-agro.com/home/images/slide_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Монтаж. Демонтаж. Ликвидация</h2>
                            <p><a href="#" class="btn btn-primary btn-lg">Проекты</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="fh5co-counter-section" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <i class="sl-icon-badge"></i>
                <h2>Почему мы?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="300" data-speed="2000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Сотрудников</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="100" data-speed="2000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Крупных заказчиков</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="100000" data-speed="2000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">тонн навалом ежемесячно</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="40000" data-speed="2000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">тонн контейнерами ежемесячно</span>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-portfolio-section">
    <div class="portfolio-row-half">
        <div class="portfolio-grid-item-color">
            <div class="desc">
                <h2>Выполненные работы </h2>
                <p>Качество говорит само за себя</p>
            </div>
        </div>
        <a href="#" class="portfolio-grid-item" style="background-image: url(https://ksm-agro.com/home/images/p19833.jpg);">
            <div class="desc2">
                <h3>ЗАО "Ставропольский бройлер"</h3>
                <span>Реконструкция и модернизация производственных помещений. Монтаж оборудования Meyn, MAREL, MAVITEC</span>
            </div>
        </a>
        <a href="#" class="portfolio-grid-item" style="background-image: url(https://img-fotki.yandex.ru/get/6617/118580265.20/0_896fa_90b5d4c3_XXL);">
            <div class="desc2">
                <h3>ООО "НАК Азот"</h3>
                <span>Монтаж и ремонт оборудования по производству сложных удобрений</span>
            </div>
        </a>
        <a href="#" class="portfolio-grid-item" style="background-image: url(https://www.korovainfo.ru/upload/resize_cache/iblock/28e/350_250_2/%D0%BF%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D0%B4%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D1%80.JPG);">
            <div class="desc2">
                <h3>ООО "ДОНСТАР"</h3>
                <span>Монтаж технологического оборудования STORK, MPS, YEMMAK</span>
            </div>
        </a>
        <a href="#" class="portfolio-grid-item" style="background-image: url(https://ksm-agro.com/home/images/projects/segeja/main.JPG);">
            <div class="desc2">
                <h3>АО «Сегежский ЦБК» </h3>
                <span>
                    Демонтаж зданий и сооружений, вышедших из эксплуатации, в рамках проводимой модернизации на территории комбината.
                </span>
            </div>
        </a>
        <a href="/projects/kashira" class="portfolio-grid-item" style="background-image: url(https://ksm-agro.com/home/images/projects/kashira/main.jpg);">
            <div class="desc2">
                <h3>ООО «МК РУСМЕТПРОМ» </h3>
                <span>Демонтаж металлокострукций. Сортировка и вывоз строительных отходов от сноса здания</span>
            </div>
        </a>
        <a href="/projects/kashira" class="portfolio-grid-item" style="background-image: url(https://ksm-agro.com/home/images/projects/fosforit/main.jpg);">
            <div class="desc2">
                <h3>АО «МХК «ЕвроХим»</h3>
                <span>Демонтаж кровли, произведен демонтаж железобетонного ствола башни Энергоцеха высотой 53 м до уровня земли с применением алмазной резки</span>
            </div>
        </a>
    </div>
</div>

<section id="#about" name="about">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <i class="sl-icon-rocket" style="margin-top: 40px;"></i>
                <h2>Компании, которые доверяют</h2>
            </div>
        </div>

        <div class="clients" style="margin-bottom: 50px;">
            <div style="width: 300px; height: 180px; background: url(https://eurochemagro.com/uploads/Horizontal_full_transparent-1.png)"></div>
            <div style="width: 300px; height: 180px; background: url(https://www.honeywell.com/content/dam/honeywell/en-us/images/HON%20logo_200x37.png)"></div>
            <div style="width: 300px; height: 180px; background: url(https://ksm-agro.com/home/images/mavitec-red.jpg)"></div>
            <div style="width: 300px; height: 180px; background: url(https://ksm-agro.com/home/images/agravis-raiffeisen.png)"></div>
            <div style="width: 300px; height: 180px; background: url(https://ksm-agro.com/home/images/resurs.jpg)"></div>
            <div style="width: 300px; height: 180px; background: url(https://ksm-agro.com/home/images/energo.png)"></div>
            <div style="width: 300px; height: 180px; background: url(https://ksm-agro.com/home/images/agriko.jpg)"></div>
            <div style="width: 300px; height: 180px; background: url(https://ksm-agro.com/home/images/belptica.png)"></div>
        </div>
</section>

<div class="fh5co-parallax fh5co-parallax2" style="background-image: url(https://ksm-agro.com/home/images/hero.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro animate-box">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h3 style="color: #FFD700">КАЧЕСТВО ПРОДУКЦИИ</h3>
                            <div class="testimony">
                                <blockquote>
                                    <p>
                                        мы зарекомендовали себя как
                                        поставщики качественной
                                        продукции, с приоритетом по
                                        поставки масличных и бобовых
                                        культур.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <h3 style="color: #FFD700">МИНИМИЗАЦИЯ РИСКОВ</h3>
                            <div class="testimony">
                                <blockquote class="d-flex align-items-center">
                                    <p>
                                        работаем с долгосрочными
                                        надежными деловыми партнерами
                                        с хорошей репутацией - залог
                                        постоянных доверительных
                                        отношений, гарантия постоянного
                                        качества товара и ответственности
                                        за результат.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-blog-section" class="grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <i class="sl-icon-note"></i>
                <h2>Последние новости</h2>
            </div>
        </div>
        <div class="row">
            <div class="feature-full-2col">
                <div class="blog-inner">
                    <div class="desc">
                        <div class="image" style="background-image: url(@ViewBag.Posts[0].PostImage);"></div>
                        <h3>@ViewBag.Posts[0].PostTitle</h3>
                        <p><a href="/news/read/@ViewBag.Posts[0].PostID" class="btn btn-primary btn-luxe-primary">Читать далее</a></p>
                    </div>
                </div>
                <div class="blog-inner">
                    <div class="desc">
                        <div class="image" style="background-image: url(@ViewBag.Posts[1].PostImage);"></div>
                        <h3>@ViewBag.Posts[1].PostTitle</h3>
                        <p><a href="/news/read/@ViewBag.Posts[1].PostID" class="btn btn-primary btn-luxe-primary">Читать далее</a></p>
                    </div>
                </div>
            </div>

            <div class="feature-full-2col">
                <div class="blog-inner">
                    <div class="desc">
                        <div class="image" style="background-image: url(@ViewBag.Posts[2].PostImage);"></div>
                        <h3>@ViewBag.Posts[2].PostTitle</h3>
                        <p><a href="/news/read/@ViewBag.Posts[2].PostID" class="btn btn-primary btn-luxe-primary">Читать далее</a></p>
                    </div>
                </div>
                <div class="blog-inner">
                    <div class="desc">
                        <div class="image" style="background-image: url(@ViewBag.Posts[3].PostImage);"></div>
                        <h3>@ViewBag.Posts[3].PostTitle</h3>
                        <p><a href="/news/read/@ViewBag.Posts[3].PostID" class="btn btn-primary btn-luxe-primary">Читать далее</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fh5co-parallax" id="shipping" style="background-image: url(https://ksm-agro.com/home/images/shipping.jpg);" data-stellar-background-ratio="0.5">
    <a name="about"></a>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell animate-box">
                    <h1 class="text-center">Доставка по всей стране</h1>
                    <p>Осуществляем доставку автомобильным<br /> и железнодорожным транспортом</p>
                </div>
            </div>
        </div>
    </div>
</div>
