﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Привет</title>
    <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <h1 style="color: white;">Привет, @ViewBag.UserName </h1>


    <script>
        window.onload=() => {

            setTimeout(() => {
                window.location.href="/panel"
            }, 3000)

        }
        
    </script>
</body>
</html>
