﻿
@{
    ViewData["Title"] = "Логистика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background: url(/home/images/logistic-1.jpg); width: 100%; padding-top: 60px; background-position: center center; background-repeat: no-repeat; height: 50vh; background-size: cover;">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 55px; text-align: center">Логистика и сопровождение</h1>
    </div>
</section>
<section style="background-color: rgba(128, 128, 128, 0.08)">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h3 style="text-align: center; margin-top: 40px; margin-bottom: 60px;">
                    Логистические услуги  — оптимизируйте издержки вместе с «КСМ»
                </h3>
                <p>Транспортная логистика — гарантия быстрой и точной доставки груза до получателя. Однако штатный специалист по карману не каждой компании. Или такой человек есть, но его загрузки не хватает в высокий сезон. Убедитесь, что аутсорсинг — это выгодно:</p>
                <ul class="list">
                    <li>Выбирайте комплекс логистических услуг. ООО "КСМ" возьмет на себя перевозку, экспедирование груза, подготовку документов, при необходимости — таможенный документооборот.</li>
                    <li>Выбирайте отдельные транспортно-логистические услуги и оптимальный транспорт. Автомобили грузоподъемностью от 1,5 до 20 тонн, с рефрижератором и специальными конструкциями для перевозки стройматериалов или окон. Подберем решение для любого бизнеса.</li>
                    <p>Транспортная логистика — гарантия быстрой и точной доставки груза до получателя. Однако штатный специалист по карману не каждой компании. Или такой человек есть, но его загрузки не хватает в высокий сезон. Убедитесь, что аутсорсинг — это выгодно:</p>
                </ul>
                <h2 style="color: #808080; text-align: center; margin-top: 60px; margin-bottom: 40px;">ВЫГОДЫ ДЛЯ ВАС</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-1" style="height: 150px;">
                            <img src="https://msk.gruzovichkof.ru/uploads/files/icon_Fix_price_1513119156.png" />
                            <p style="text-align: center; margin-top: 30px;">Выгодные условия</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-1" style="height: 150px;">
                            <img src="https://msk.gruzovichkof.ru/uploads/files/icon_24_h_1513119068.png" />
                            <p style="text-align: center; margin-top: 30px;">Без выходных</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-1" style="height: 150px;">
                            <img src="https://msk.gruzovichkof.ru/uploads/files/icon_Call_centr_1513119128.png" />
                            <p style="text-align: center; margin-top: 30px;">Всегда на связи</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-1" style="height: 150px;">
                            <img src="https://msk.gruzovichkof.ru/uploads/files/icon_All_country_1513119092.png" />
                            <p style="text-align: center; margin-top: 30px;">В кажый уголок</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

