﻿
@{
    ViewData["Title"] = "ООО КСМ-Агро - Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="background: url(https://fainaidea.com/wp-content/uploads/2016/08/news.jpg); width: 100%; padding-top: 60px; background-position: center; background-repeat: no-repeat; height: 50vh">
    <div class="overlay flex-all-center">
        <h1 style="color: white; text-align: center">Новости компании<br /> и аграрного сектора</h1>
    </div>
</section>

<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div id="posts-news">
        @{
            for (int i = 0; i < ViewBag.Posts.Length; i++)
            {
                <div class="blog-post">
                    <div class="image" style="background-image: url(@ViewBag.Posts[i].PostImage); min-height: 300px; background-position: center; background-repeat: no-repeat;"></div>
                    <h4>@ViewBag.Posts[i].PostTitle</h4>
                    <p><a href="/news/read/@ViewBag.Posts[i].PostID" class="btn btn-primary btn-luxe-primary">Читать далее</a></p>
                </div>
            }
        }
    </div>
</div>




