﻿@model KSM_Agro.Models.Post

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var post = ViewBag.Post;
    ViewData["Title"] = "КСМ-Агро - " + post.PostTitle;
    ViewBag.Description = "Только качественные и надёжные услуги ООО КСМ. Гарантия успеха и продвижения. Берите то, что Вам необходимо";
    ViewBag.Keywords = "ВЭД, вэд, экспорт, импорт, КСМ, КСМ-Агро, ксм агро, прйс лист, прйс, услуги, зерно, пшеница, строительство";
}

    <div class="fh5co-parallax" id="shipping" style="background-image: url(@post.PostImage);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                    <div class="fh5co-intro fh5co-table-cell animate-box">
                        <h1 class="text-center">@post.PostTitle</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>