﻿
@{
    ViewData["Title"] = "ООО КСМ - Продукция";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "ООО КСМ - Качественная продукция и материалы по выгодным ценам. Все для сельского хозяйства и не только";
    ViewBag.KeyWord = "зерно, пшеница, ячмень, кукуруза, уголок, прайс-лист, прайс лист, ксм агро, ксм, КСМ, КСМ-Агро, чечевица, бобвые, агрокультуры, агрокультура, минеральные удобрения, удобрения";
}


<section id="about-section">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 72px;">Кататлог продукции и товаров</h1>
    </div>
</section>


<div class="container">
    <div class="products-menu" style="margin-top: 40px;">
        <div>
            <button style="background-color: transparent; border: none; color: #00ADB5" onclick="showBlock('#agriculture')">Агрокультуры</button>
            <span>/</span>
            <button style="background-color: transparent; border: none; color: #00ADB5" onclick="showBlock('#minerals')">Минеральные удобрения</button>
            <span>/</span>
            <button style="background-color: transparent; border: none; color: #00ADB5" onclick="showBlock('#nerud')">Нерудные материалы</button>
            <span>/</span>
            <button style="background-color: transparent; border: none; color: #00ADB5" onclick="showBlock('#metiz')">Металлоизделия</button>
        </div>
    </div>

    <div class="col-md-12" id="agriculture">
        <h2 style="text-align: center">Агрокультуры</h2>
        <h3 style="text-align: center">Зерновые</h3>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(/home/images/z-01.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product" >
                <div class="product-title">
                    Пшеница
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/z-02.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Кукруза
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/z-03.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Ячмень
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" >
            <div class="product" style="background: url(/home/images/z-04.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Просо
                </div>
            </div>
        </div>
        <h3 style="text-align: center">Бобовые</h3>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/b-01.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Горох
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/b-02.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Нут
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/b-03.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Чечевица
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/b-04.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Соя
                </div>
            </div>
        </div>
        <h3 style="text-align: center">Масленичные</h3>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/m-01.png);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Рапс
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/m-02.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Сафлор
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/m-03.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Лен
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product" style="background: url(/home/images/m-04.jpg);background-position: center;background-size: cover; background-repeat: no-repeat">
                <div class="product-title">
                    Кориандр
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="minerals">
        <h2 style="text-align: center">Минеральные удобрения</h2>
        <h3 style="text-align: center">Калийные</h3>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(/home/images/udobr/kalij/ammofos.jpg); background-position: center;background-size: cover; background-repeat: no-repeat"  class="product">
                <div class="product-title">
                    Аммофос
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(/home/images/udobr/kalij/nitroammofoska.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" " class="product">
                <div class="product-title">
                    Нитроаммофоска
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(/home/images/udobr/kalij/azofoska.jpg); background-position: center;background-size: cover; background-repeat: no-repeat"  class="product">
                <div class="product-title">
                    Азофоска
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(/home/images/udobr/kalij/diamm.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" " class="product">
                <div class="product-title">
                    Диаммофоска
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://images.ru.prom.st/216447808_sulfoammofos-nps-162012.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" " class="product">
                <div class="product-title">
                    Сульфоаммофос
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-md-12" id="nerud">
        <h2 style="text-align: center">Нерудные материалы</h2>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://static-eu.insales.ru/images/products/1/1710/139142830/%D0%9A%D0%B2%D0%B0%D1%80%D1%86%D0%B5%D0%B2%D1%8B%D0%B8%CC%86_%D0%BF%D0%B5%D1%81%D0%BE%D0%BA_%D0%B4%D0%BB%D1%8F_%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D1%82%D0%B2%D0%BE%D1%80%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%B0.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" " class="product">
                <div class="product-title">
                    Песок
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://09.img.avito.st/640x480/4369057609.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Гравий
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://do.e1.ru/preview//do/266e4b0d8a338a1e256330ac3f8fad1f_1514683567_750_531.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Щебень
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(http://www.iskitimlime.ru/img/fractions/p%201-3.JPG); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Отсев дробления
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12" id="metiz">
        <h2 style="text-align: center">Металлоизделия</h2>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://mtst36.ru/components/com_jshopping/files/img_products/full_862836406.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Профильная труба
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(http://metall-oz.ru/wp-content/uploads/2017/04/%D0%BB%D0%B8%D1%81%D1%82-%D1%81%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-2-%D0%BC%D0%BC.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Стальной лист
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://metalloprokat39.ru/upload/iblock/0f0/0f0b9d772dfeb5478b1ea95fb46e45df.png); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Швеллер
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://tipdoma.com/wp-content/uploads/2019/06/af866c7b857b5ce30176ef42ebf4fed8.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Арматура
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://www.megapolys.com/upload/iblock/38b/38bf339b693aafcd5aa6540a15e87ffc.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Труба
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div style="background: url(https://stalplus-tula.ru/assets/images/produkt/8.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Уголок
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(http://stroydvor2002.ru/components/com_jshopping/files/img_products/full_provoloka.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Стальная проволока
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="background: url(http://www.grif-r.ru/upload/iblock/02d/02d3f23a581e1fbd37e241702e463a8e.jpg); background-position: center;background-size: cover; background-repeat: no-repeat" class="product">
                <div class="product-title">
                    Стальные прутья
                </div>
            </div>
        </div>

    </div>
</div>



<script type="text/javascript">

    $(window).load(() => {
        hideAll();
        
        if (window.location.hash != '') {
            hideAll();
            var hash = window.location.hash.replace('#', '');
            console.log(window.location.hash)
            document.getElementById(hash).style.display = 'block';
        } else {
            document.getElementById('agriculture').style.display = 'block';
        }
    })

    $(window).on('hashchange', function () {
        if (window.location.hash != null) {
            hideAll();
            console.log(window.location.hash)
            var hash = window.location.hash.replace('#', '');
    
            document.getElementById(hash).style.display = 'block';
        } else {
            hideAll();
            document.getElementById('agriculture').style.display = 'block';
        }
    });

    document.load = () => {
        document.getElementById(hash).style.display = 'block';
    }

    function hideAll() {
        document.getElementById('agriculture').style.display = 'none';
        document.getElementById('minerals').style.display = 'none';
        document.getElementById('nerud').style.display = 'none';
        document.getElementById('metiz').style.display = 'none';
    }


    function showBlock(id) {
        hideAll()
        var hash = id.replace('#', '');
        document.getElementById(hash).style.display = 'block';
    }
</script>