﻿
@{
    ViewData["Title"] = "Выполненные проекты";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Только качественные и надёжные услуги ООО КСМ. Гарантия успеха и продвижения. Берите то, что Вам необходимо";
    ViewBag.Keywords = "ВЭД, вэд, экспорт, импорт, КСМ, КСМ-Агро, ксм агро, прйс лист, прйс, услуги, зерно, пшеница, строительство";
}
<section style="background: url(/home/images/projects-image.jpg); width: 100%; padding-top: 60px; background-position: center center; background-size: cover; background-repeat: no-repeat; height: 60vh">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 66px; text-align: center">Услуги, которые<br /> мы предоставляем</h1>
    </div>
</section>

