﻿
@{
    ViewData["Title"] = "КСМ-Агро - Услуги";
    ViewBag.Description = "Только качественные и надёжные услуги ООО КСМ. Гарантия успеха и продвижения. Берите то, что Вам необходимо";
    ViewBag.Keywords = "ВЭД, вэд, экспорт, импорт, КСМ, КСМ-Агро, ксм агро, прйс лист, прйс, услуги, зерно, пшеница, строительство";
}

<section style="background: url(/home/images/services.jpg); width: 100%; padding-top: 60px; background-position: center; background-repeat: no-repeat; height: 50vh; background-size: cover;">
    <div class="overlay flex-all-center">
        <h1 style="color: white; text-align: center">Услуги, которые<br /> мы предоставляем</h1>
    </div>
</section>

<section style="margin-top:80px;margin-bottom:80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-1" onclick="window.location.href='/services/building'" style="background:url(http://www.metallzavodd.ru/files/texts/img/6003920932.jpg); min-height:300px; background-position: center; background-repeat: no-repeat; background-size: cover;border-radius: 10px;">
                    <div class="product-title" >
                        Строительно монтажные работы
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-1" onclick="window.location.href='/services/demolition'" style="background:url(/home/images/projects/segeja/main.JPG); min-height:300px; background-position: center; background-repeat: no-repeat; background-size: cover;border-radius: 10px;">
                    <div class="product-title">
                        Демонтаж
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-1" onclick="window.location.href='/services/logistics'" style="background:url(/home/images/logistic.jpg); min-height:300px; background-position: center; background-repeat: no-repeat; background-size: cover;border-radius: 10px;">
                    <div class="product-title">
                        Логистика
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-1" onclick="window.location.href='/services/ved'" style="background:url(https://outved.pro/wp-content/uploads/2018/08/1a6fbb8c5ed787b6299f228e2e9d00fd_XL.jpg); min-height:300px; background-position: center; background-repeat: no-repeat;background-size: cover; border-radius: 10px;">
                    <div class="product-title">
                        Аутсорсинг ВЭД
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


