﻿
@{
    ViewData["Title"] = "КСМ-Агро - Техника";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "ООО КСМ - Строительная техника лучшего качества и надежности.";
    ViewBag.Keywords = "зерно, техника, пшеница, ячменб, ксм, ксм агро, КСМ, ksm-agro, ксм-агро, агро продукция";
}
<section style="background: url(/home/images/tech.jpg); width: 100%; padding-top: 60px; background-position: center center; background-repeat: no-repeat; height: 50vh; background-size: cover;">
    <div class="overlay flex-all-center">
        <h1 style="color: white; text-align: center">Строительная и автомобильная техника</h1>
    </div>
</section>
<section style="padding-top: 20px;">
       <div class="container">
           <h3 style="margin-top: 20px;">Техника и её количество</h3>
           <table class="table">
               <caption>Перечень строительной техники</caption>
               <thead>
                   <tr>
                       <th>     #</th>
                       <th colspan="2">Наименование строительной техники</th>
                       <th>     Штук</th>
                       <th>     Год&nbsp;выпуска</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>     1</td>
                       <td>     Кран стреловой на базе <strong>КАМАЗ</strong></td>
                       <td>     г/п 25 тн, Вылет стрелы 19 м</td>
                       <th>     1</th>
                       <td>     2008</td>
                   </tr>
                   <tr>
                       <td>     2</td>
                       <td>     Кран стреловой на базе <strong>КАМАЗ</strong></td>
                       <td>     г/п 25 тн, Вылет стрелы 31 м</td>
                       <th>     1</th>
                       <td>     2008</td>
                   </tr>
                   <tr>
                       <td>     3</td>
                       <td>     Манипулятор на базе <strong>КАМАЗ</strong></td>
                       <td>     г/п 9 тн, Вылет стрелы 18 м, грузовой</td>
                       <th>     1</th>
                       <td>     2012</td>
                   </tr>
                   <tr>
                       <td>     4</td>
                       <td>     Экскаватор, <strong>АМКОДОР</strong></td>
                       <td>     702ЕА-01</td>
                       <th>     1</th>
                       <td>     2008</td>
                   </tr>
                   <tr>
                       <td>     6</td>
                       <td>     Экскаватор-погрузчик, <strong>JCB</strong></td>
                       <td>     4СХ-4WS-SM</td>
                       <th>     1</th>
                       <td>     2012</td>
                   </tr>
                   <tr>
                       <td>     7</td>
                       <td>     Автопогрузчик <strong>JCB</strong></td>
                       <td>     г/п 4 тн, Вылет стрелы 18 м, 540-140</td>
                       <th>     1</th>
                       <td>     2011</td>
                   </tr>
                   <tr>
                       <td>     8</td>
                       <td>     Автопогрузчик <strong>CATERPILLAR</strong></td>
                       <td>     г/п 2 тн, Вылет стрелы 3,5 м, DP20CNT</td>
                       <th>     1</th>
                       <td>     2011</td>
                   </tr>
                   <tr>
                       <td>     9</td>
                       <td>     Автопогрузчик <strong>MAXIMAL</strong></td>
                       <td>     г/п 1,5 тн, Вылет стрелы 3 м, FD1ST</td>
                       <th>     1</th>
                       <td>     2012</td>
                   </tr>
                   <tr>
                       <td>     10</td>
                       <td>     Грузовые, легковые а/м</td>
                       <td>     </td>
                       <th>     16</th>
                       <td>     2004-2015</td>
                   </tr>
               </tbody>
           </table>
       </div>
</section>

