﻿
@{
    ViewData["Title"] = "ООО КСМ - Аутсорсинг ВЭД";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Только качественные и надёжные услуги ООО КСМ. Гарантия успеха и продвижения. Берите то, что Вам необходимо. Внешнеэкономическая деятельность";
    ViewBag.Keyword = "ВЭД, вэд, экспорт, импорт, КСМ, КСМ-Агро, ксм агро, прйс лист, прйс, услуги, зерно, пшеница, строительство";
}
<section style="background: url(http://www.rostekeurrus.ru/userfiles/images/konsalting.jpg); width: 100%; padding-top: 60px; background-position: center center; background-repeat: no-repeat; height: 50vh; background-size: cover;">
    <div class="overlay flex-all-center">
        <h1 style="color: white; font-size: 55px; text-align: center">Аутсорсинг ВЭД</h1>
    </div>
</section>
<section style="background-color: rgba(128, 128, 128, 0.08); margin-bottom: 80px;">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h3 style="text-align: center; margin-top: 40px; margin-bottom: 60px;">
                    Обеспечивая аутсорсинг внешнеэкономической деятельности для нашего клиента,
                    мы берем на себя все риски, связанные с закупкой, международной доставкой груза, его таможенным оформлением.
                    <br />Мы несем ответственность перед контролирующими и проверяющими органами.
                </h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 250px;">
                            <img src="https://www.mjr.ru/foreign_trade/img/service-1.png" />
                            <p style="text-align: center; margin-top: 30px;">Организация документооборота</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 250px;">
                            <img src="https://www.mjr.ru/foreign_trade/img/service-2.png" />
                            <p style="text-align: center; margin-top: 30px;">Сопутствующие оплаты</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 250px;">
                            <img src="https://www.mjr.ru/foreign_trade/img/service-3.png" />
                            <p style="text-align: center; margin-top: 30px;">Логистика - это наша задача</p>
                        </div>
                    </div>
                </div>
                <h2 style="color: #808080; text-align: center; margin-top: 60px; margin-bottom: 40px;">ВЫГОДЫ ДЛЯ ВАС</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 300px;">
                            <img style="width: 150px" src="https://cambrian.com/wp-content/uploads/2018/09/quality-icon-vector-13483935.png" />
                            <p style="text-align: center; margin-top: 30px;">Повышение качества</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 300px;">
                            <img style="width: 150px" src="http://mercatirussi-esteri.com/wp-content/uploads/2014/07/dogana-icon.png" />
                            <p style="text-align: center; margin-top: 30px;">Нет контроля со стороны таможни</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 300px;">
                            <img style="width: 150px" src="https://image.flaticon.com/icons/svg/1728/1728516.svg" />
                            <p style="text-align: center; margin-top: 30px;">Возрастание эффективности работы</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 300px;">
                            <img style="width: 150px" src="https://images.vexels.com/media/users/3/157970/isolated/preview/c156b4270aea292b9b335dd463ea17eb-earth-planet-icon-earth-icon-by-vexels.png" />
                            <p style="text-align: center; margin-top: 30px;">Ведение деятельности по всему миру</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 300px;">
                            <img style="width: 150px" src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" />
                            <p style="text-align: center; margin-top: 30px;">Персональный менеджер</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-1" style="height: 300px;">
                            <img style="width: 150px" src="https://www.managedfuturesinvesting.com/wp-content/uploads/2017/07/red-mgnifying-glass-icon.png" />
                            <p style="text-align: center; margin-top: 30px;">Отсутствие рисков</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

