﻿@model KSM_Agro.Models.Page

@{
    ViewData["Title"] = "Добавить страницу";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Создать страницу">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PageTitle" class="control-label">Заголовок</label>
                <input asp-for="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageUrl" class="control-label">Короткая ссылка</label>
                <input asp-for="PageUrl" class="form-control" />
                <span asp-validation-for="PageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageDescription" class="control-label">Краткое описание</label>
                <input asp-for="PageDescription" class="form-control" />
                <span asp-validation-for="PageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageImage" class="control-label">Главное изображение</label>
                <input asp-for="PageImage" type="file" class="form-control-file" name="image" />
                <span asp-validation-for="PageImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PageKeywords" class="control-label">Содержание</label>
                <textarea name="editor" id="editor" asp-for="PageSource" class="form-control" rows="10" cols="80">
                            
                </textarea>
            </div>
            <div class="form-group">
                <label asp-for="PageKeywords" class="control-label">Ключевые слова</label>
                <input asp-for="PageKeywords" class="form-control" />
                <span asp-validation-for="PageKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>


<script type="text/javascript"> 
    ClassicEditor
        .create(document.querySelector('#editor'), {
            filebrowserUploadUrl: "/upload"
        })
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>
