﻿@model KSM_Agro.Models.Page

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageKeywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageKeywords)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PageID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
