﻿@model KSM_Agro.Models.Page

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageID" />
            <div class="form-group">
                <label asp-for="PageTitle" class="control-label"></label>
                <input asp-for="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageUrl" class="control-label"></label>
                <input asp-for="PageUrl" class="form-control" />
                <span asp-validation-for="PageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageDescription" class="control-label"></label>
                <input asp-for="PageDescription" class="form-control" />
                <span asp-validation-for="PageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageImage" class="control-label"></label>
                <input asp-for="PageImage" class="form-control" />
                <span asp-validation-for="PageImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageKeywords" class="control-label"></label>
                <input asp-for="PageKeywords" class="form-control" />
                <span asp-validation-for="PageKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

