﻿@model IEnumerable<KSM_Agro.Models.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageKeywords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageKeywords)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
