﻿@model KSM_Agro.Models.FinanceOpeartion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FinanceOpeartion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.operationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.operationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActBU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActBU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SummWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SummWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SummWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SummWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
