﻿@model KSM_Agro.Models.FinanceOpeartion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Edit</h2>

<h4>FinanceOpeartion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="operationType" class="control-label"></label>
                <select asp-for="operationType" class="form-control"></select>
                <span asp-validation-for="operationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActBU" class="control-label"></label>
                <input asp-for="ActBU" class="form-control" />
                <span asp-validation-for="ActBU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActDate" class="control-label"></label>
                <input asp-for="ActDate" class="form-control" />
                <span asp-validation-for="ActDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummWithNDS" class="control-label"></label>
                <input asp-for="SummWithNDS" class="form-control" />
                <span asp-validation-for="SummWithNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NDS" class="control-label"></label>
                <input asp-for="NDS" class="form-control" />
                <span asp-validation-for="NDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummWithOutNDS" class="control-label"></label>
                <input asp-for="SummWithOutNDS" class="form-control" />
                <span asp-validation-for="SummWithOutNDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

