﻿@model IEnumerable<KSM_Agro.Models.FinanceOpeartion>

@{
    ViewData["Title"] = "Реест операций";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">

    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.operationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrAgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummWithOutNDS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.operationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cash.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.DepartmentTitle)
            </td>
            <td style="max-width: 250px;">
                @Html.DisplayFor(modelItem => item.contrAgent.ContrAgent_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummWithOutNDS)
            </td>
            <td style="max-width: 200px; font-size: 14px; line-height: 14px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fas fa-edit"  style="color: deepskyblue"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fa fas fa-info" style="color: green"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa fas fa-trash" style="color: red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


<script type="text/javascript">
     $('.table thead tr').clone(true).appendTo( '#example thead' );
    $('.table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Поис '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
    $('.table').DataTable({

            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
            }
        } );
</script>
