﻿@model KSM_Agro.Models.Post

@{
    ViewData["Title"] = "Добавить новость";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageName = "Добавить новость";
}
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="PostTitle" class="control-label">Название</label>
                        <input asp-for="PostTitle" class="form-control" />
                        <span asp-validation-for="PostTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Изображение</label>
                        <input type="file" class="form-control-file" name="image"/>
                        <span asp-validation-for="PostImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostDescription" class="control-label">Краткое содержание</label>
                        <input asp-for="PostDescription" class="form-control" />
                        <span asp-validation-for="PostDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostText" class="control-label"></label>
                        <textarea name="editor" id="editor" asp-for="PostText" class="form-control" rows="10" cols="80">
                            
                        </textarea>

                        <span asp-validation-for="PostText" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PostKeyWords" class="control-label">Ключевые слова(указать через запятую)</label>
                        <input asp-for="PostKeyWords" class="form-control" />
                        <span asp-validation-for="PostKeyWords" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostMetaDesc" class="control-label">Мета описание</label>
                        <input asp-for="PostMetaDesc" class="form-control" />
                        <span asp-validation-for="PostMetaDesc" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>


