﻿@model KSM_Agro.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostKeyWords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostKeyWords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostMetaDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostMetaDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
