﻿@model KSM_Agro.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostID" />
            <div class="form-group">
                <label asp-for="PostTitle" class="control-label"></label>
                <input asp-for="PostTitle" class="form-control" />
                <span asp-validation-for="PostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostImage" class="control-label"></label>
                <input asp-for="PostImage" class="form-control" />
                <span asp-validation-for="PostImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDescription" class="control-label"></label>
                <input asp-for="PostDescription" class="form-control" />
                <span asp-validation-for="PostDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostText" class="control-label"></label>
                <input asp-for="PostText" class="form-control" />
                <span asp-validation-for="PostText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDS" class="control-label"></label>
                <input asp-for="PostDS" class="form-control" />
                <span asp-validation-for="PostDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostKeyWords" class="control-label"></label>
                <input asp-for="PostKeyWords" class="form-control" />
                <span asp-validation-for="PostKeyWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostMetaDesc" class="control-label"></label>
                <input asp-for="PostMetaDesc" class="form-control" />
                <span asp-validation-for="PostMetaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

