﻿@model IEnumerable<KSM_Agro.Models.Post>

@{
    ViewData["Title"] = "Новости";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Тайтл
            </th>
            <th>
                Дата
            </th>
            <th>
                Ключевые слова
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostKeyWords)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostID">Править</a> |
                <a asp-action="Details" asp-route-id="@item.PostID">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.PostID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
