﻿@using Microsoft.Net.Http;
@using KSM_Agro.Models;
@{
    ViewData["Title"] = "Рабочий стол";
    Layout = "_PanelLayout";
    Deal InfoDeal = ViewBag.DealStats;
}
    <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-center text-center" style="min-height: 150px;">
            <h2>@(InfoDeal.Price / 1000) т.</h2>
            <p>Отгружено суммарно</p>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center text-center" style="min-height: 150px;">
            <h2>@(InfoDeal.ShipPrice / 1000) т.</h2>
            <p>Отправлено</p>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center text-center" style="min-height: 150px;">
            <h2>@(InfoDeal.DonePrice/1000) т.</h2>
            <p>Продано</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-3 d-flex flex-column justify-content-center text-center" style="min-height: 150px;">
            <h2>@InfoDeal.BuyPriceWithNDSForOneKG</h2>
            <p>Средняя стоимость покупки</p>
        </div>
        <div class="col-md-4 col-md-3 d-flex flex-column justify-content-center text-center" style="min-height: 150px;">
            <h2>@InfoDeal.ShipPriceWithNDSForOneKG</h2>
            <p>Средняя стоимость перевозки</p>
        </div>
        <div class="col-md-4 col-md-3 d-flex flex-column justify-content-center text-center" style="min-height: 150px;">
            <h2>@InfoDeal.SellPriceWithNDSForOneKG</h2>
            <p>Средняя стоимость продажи</p>
        </div>
    </div>
<div class="panel bg-white" style="margin-top: 50px; margin-bottom: 50px; ">
    <div class="panel-heading">
        <h3>Последние открытые сделки</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Менеджер
                    </th>
                    <th>
                        Товар
                    </th>
                    <th>
                        Покупатель
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th>
                        Статус
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="panel bg-white" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="panel-heading">
        <h3>Последние отгрузки</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Водитель
                    </th>
                    <th>
                        Машина
                    </th>
                    <th>
                        Покупатель
                    </th>
                    <th>
                        Товар
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th>
                        Статус
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="flex-row-container">
    <div class="card">
        <h1 style="color: #40d162">@ViewBag.OnSubmit</h1>
        <strong>сделок завершено</strong>
    </div>
    <div class="card">
        <h1 style="color: #ff0000">40</h1>
        <strong>сделок завершено</strong>
    </div>
    <div class="card">
        <h1 style="color: #40d162">40</h1>
        <strong>сделок завершено</strong>
    </div>
    <div class="card">
        <h1 style="color: #ff0000">40</h1>
        <strong>сделок завершено</strong>
    </div>
    <div class="card">
        <h1 style="color: #40d162">40</h1>
        <strong>сделок завершено</strong>
    </div>
    <div class="card">
        <h1 style="color: #ff0000">40</h1>
        <strong>сделок завершено</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="max-height: 400px">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['На подтверждении', 'В работе', 'Ожидают оплаты', "Завершены"],
        datasets: [{
            label: 'Статистка по сделкам',
            data: [@ViewBag.OnSubmit, @ViewBag.InWork, @ViewBag.WaitPay, @ViewBag.Ended],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    }
});
</script>