﻿@model KSM_Agro.Models.User

@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

