﻿@model KSM_Agro.Models.Deal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentDealID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentDealID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shippername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shippername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rasstoyanie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rasstoyanie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellPriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellPriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyPriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyPriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SafePriceNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SafePriceNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeltaShipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeltaShipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeltaProshenaya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeltaProshenaya)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SummDeltaShipp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SummDeltaShipp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeltaCompinsation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeltaCompinsation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeltaPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeltaPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmitDelta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmitDelta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtScheme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtScheme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipPriceWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipPriceWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipSancForNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipSancForNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportdopRaschod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportdopRaschod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtSummWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtSummWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtShipNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtShipNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtShipWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtShipWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ACTBUNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ACTBUNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ACTBUDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ACTBUDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TTNType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TTNType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transoprtPayWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transoprtPayWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyScheme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyScheme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buySancForLost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buySancForLost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyWithCompensation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyWithCompensation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.withOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.withOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyActBU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyActBU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buyActDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buyActDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.buySummWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.buySummWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSShipPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSShipPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSOtgruz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSOtgruz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSOneKGPriceWithoutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSOneKGPriceWithoutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cSSumm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cSSumm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safePriceWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safePriceWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safeNDSSUMM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safeNDSSUMM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safeSUMMWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safeSUMMWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safeActBU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safeActBU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.safeActDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.safeActDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raschAgentskije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raschAgentskije)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raschProchee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raschProchee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raschSummAll)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raschSummAll)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodNDSSumm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodNDSSumm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodDogovor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodDogovor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodActBU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodActBU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodActDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodActDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prodPayWithNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prodPayWithNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRaschWithOutNDS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRaschWithOutNDS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRasch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRasch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nakRaschSUMM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nakRaschSUMM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjPribyl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjPribyl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjiNalnost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjiNalnost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marjaOneKg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marjaOneKg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prybDoNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prybDoNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nalogNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nalogNP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPryb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPryb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybOneKG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybOneKG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybRenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriPriDostWithOutCompensation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriPriDostWithOutCompensation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriPribPriDostWithOutCompensation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriPribPriDostWithOutCompensation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriDostavPrijem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriDostavPrijem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.poteriPryb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poteriPryb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybnedPryb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybnedPryb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chistPrybOneKGFinish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chistPrybOneKGFinish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.finishRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finishRenta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DealID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
