﻿@model KSM_Agro.Models.Deal

@{
    Deal[] deals = ViewBag.SubDeals;
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    Console.WriteLine(deals);
}

    <div class="btn-group" style="margin-bottom: 15px;">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.DealID">Изменить</a>
        <a class="btn btn-primary" asp-action="Index">Обратно</a>
    </div>
    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li class="active"><a data-toggle="tab" href="#home">Общие данные</a></li>
        <li><a data-toggle="tab" href="#menu1">Отгрузки</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <div>
                <h4>Детали сделки @Html.DisplayFor(model => model.DealUID)</h4>
                <hr />
                <div class="row">
                    <div class="col-md-3" style="max-height: 40px!important;">
                        <div class="card w-100">
                            123
                        </div>
                        <div class="card">
                            123
                        </div>
                    </div>
                    <div class="col-md-3" style="max-height: 40px!important;">
                        <div class="card">
                            123
                        </div>
                        <div class="card">
                            123
                        </div>
                    </div>
                    <div class="col-md-3" style="max-height: 40px!important;">
                        <div class="card">
                            123
                        </div>
                        <div class="card">
                            123
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <button class="btn btn-outline-primary" style="margin-top: 30px;" onclick="NewEtap()">Добавить отгрузку</button>
            <table class="table">
                <thead>
                    <tr style="text-align: center">
                        <th>Номер</th>
                        <th>Статутс машины</th>
                        <th>Куплено</th>
                        <th>Доставлено</th>
                        <th>Транспортные расходы</th>
                        <th>Вырчка</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (deals.Length != 0)
                        {
                            for (int i = 0; i < deals.Length; i++)
                            {
                                <tr style="text-align: center">
                                    <td style="text-align: center;"> @deals[i].DealUID</td>
                                    <td style="text-align: center;">
                                        @deals[i].CarStatus
                                    </td>
                                    <td style="text-align: center;">
                                        @deals[i].Price
                                    </td>
                                    <td style="text-align: center;">
                                        @deals[i].ShipPrice
                                    </td>
                                    <td style="text-align: center;">
                                        @deals[i].TransportdopRaschod
                                    </td>
                                    <td style="text-align: center;">
                                        @deals[i].prodWithNDS
                                    </td>
                                    <td style="text-align: center;">
                                        <a asp-action="Edit" asp-route-id="@deals[i].DealID" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                        <a asp-action="Details" asp-route-id="@deals[i].DealID" class="btn btn-warning"><i class="fa fa-info"></i></a>
                                        <a asp-action="Delete" asp-route-id="@deals[i].DealID" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>

            </table>
            <a id="neweatplink" class="btn bg-success">123</a>
        </div>
    </div>

<script>
    function NewEtap() {
        console.log(window.location.href)
        window.location.href = window.location.href + "/etap/new";
    }

    $('.deal-data').html($('.deal-data').html().split(' ')[20]);
</script>



