﻿@model IEnumerable<KSM_Agro.Models.DealInfo>
@{
    ViewData["Title"] = "Сделки";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
    <p>
        <a asp-action="Create" class="btn btn-outline-success">Создать новую</a>
    </p>
    <table class="table" id="table">
        <thead>
            <tr style="text-align: center">
                <th>Дата</th>
                <th>Номер</th>
                <th>Товар</th>
                <th>Фирма</th>
                <th>Сумма сделки</th>
                <th>Маржмнальная<br/>прибыль</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var item in Model)
            {
            <tr style="text-align: center">
                <td class="deal-data">
                    @Html.DisplayFor(modelItem => item.DealDS)
                </td>
                <td style="text-align: center;"><a href="/panel/deals/@Html.DisplayFor(modelItem => item.ID)"> @Html.DisplayFor(modelItem => item.UID)</a></td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Product.ProductTitle)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.department.DepartmentTitle)
                </td>
                <td style="text-align: center;" class="number">
                    @Html.DisplayFor(modelItem => item.chistPryb)
                </td>
                <td style="text-align: center;" class="number">
                    @Html.DisplayFor(modelItem => item.marjPribyl)
                </td>
                <td style="text-align: center;">
                    @{
                        switch (item.dealStatus.ID)
                        {
                            case 1:
                                { <div class="row justify-content-center"><span style="color: #ff0000;">&#9673;</span><p>&nbsp; @item.dealStatus.Title</p></div>}
                                break;
                            case 2:
                                {<div class="row justify-content-center"><span style="color: #808080;">&#9673;</span><p>&nbsp; @item.dealStatus.Title</p></div>}
                                break;
                            case 3:
                                {<div class="row justify-content-center"><span style="color: #2fa1e4;">&#9673;</span><p>&nbsp; @item.dealStatus.Title</p></div>}
                                break;
                            case 4:
                                {<div class="row justify-content-center"><span style="color: #1ace44;">&#9673;</span><p>&nbsp; @item.dealStatus.Title</p></div>}
                                break;
                        }
                    }
                </td >
                <td style="text-align: center;">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-warning"><i class="fa fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>


<script>
    $(document).ready(function() {
    $('#table').DataTable();
} );
    console.log();
    $('.deal-data').each(function () {
        $(this).html($(this).html().split(' ')[20]);
        
    });
    //$('.deal-data').html();
</script>
