﻿@model KSM_Agro.Models.Deal
@{
    ViewData["Title"] = "Новая отгрузка";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<button class="btn" style="position: fixed; bottom: 120px; right: 50px; height: 60px; width: 60px; border: none; border-radius: 50%; background-color: #00e676;" onclick="CalculateEtap()"><i class="fa fa-2x fa-calculator" style="color: white"></i></button>
    <a href="#oneinfo" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="oneinfo"><h5>Основная информация</h5></a>
<hr />
<form action="/panel/deals/@ViewBag.ParentDealID/otgruzki/new" method="post" class="newetapform" id="newetapform">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row collapse" id="oneinfo">
        <div class="form-group col-md-2">
            <label asp-for="DealType"></label>
            <select asp-for="DealType" class="form-control" asp-items=@ViewBag.DealType></select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Product"></label>
            <select asp-for="Product" class="form-control">
                @{
                    foreach (var item in ViewBag.Products)
                    {
                        <option data-tokens="@item.ProductTitle" value="@item.ProductId">@item.ProductTitle</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="Seller">Продавец</label>
            <input id="Seller" class="form-control" />
            <ul class="list-group d-none" style="position: absolute; max-height: 300px; overflow: scroll; z-index: 1000000; background-color: transparent!important" id="SelledIdList">
            </ul>
            <input asp-for="SelledId" class="form-control" hidden value="0" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ShipAddress"></label>
            <input value="Неизвестно..." asp-for="ShipAddress" class="form-control" type="text" />
        </div>
        <div class="form-group col-md-2">
            <label forr="Shipper"></label>
            <input id="Shipper" class="form-control" data-mysata="" />
            <ul class="list-group d-none" style="position: absolute; max-height: 300px; overflow: scroll; z-index: 1000000; background-color: transparent!important" id="ShipperIdList">
            </ul>
            <input asp-for="ShipperId" class="form-control" hidden value="0" />
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Shippername" class="control-label"></label>
            <input value="Неизвестно..." asp-for="Shippername" class="form-control" />
            <span asp-validation-for="Shippername" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Carname" class="control-label"></label>
            <input value="Неизвестно..." asp-for="Carname" class="form-control" />
            <span asp-validation-for="Carname" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Rasstoyanie" class="control-label"></label>
            <input value="0" asp-for="Rasstoyanie" class="form-control" />
            <span asp-validation-for="Rasstoyanie" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Price" class="control-label"></label>
            <input value="0" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="ShipPrice" class="control-label"></label>
            <input value="0" asp-for="ShipPrice" class="form-control" />
            <span asp-validation-for="ShipPrice" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DonePrice" class="control-label"></label>
            <input value="0" asp-for="DonePrice" class="form-control" />
            <span asp-validation-for="DonePrice" class="text-danger"></span>
        </div>
    </div>
    <a href="#price" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="price"><h5>ЦЕНЫ</h5></a>
    <hr />
    <div class="row collapse " id="price">
        <div class="form-group col-md-3">
            <label asp-for="BuyPriceWithNDSForOneKG" class="control-label"></label>
            <input value="0" asp-for="BuyPriceWithNDSForOneKG" class="form-control" />
            <span asp-validation-for="BuyPriceWithNDSForOneKG" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SellPriceWithNDSForOneKG" class="control-label"></label>
            <input value="0" asp-for="SellPriceWithNDSForOneKG" class="form-control" />
            <span asp-validation-for="SellPriceWithNDSForOneKG" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="ShipPriceWithNDSForOneKG" class="control-label"></label>
            <input value="0" asp-for="ShipPriceWithNDSForOneKG" class="form-control" />
            <span asp-validation-for="ShipPriceWithNDSForOneKG" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SafePriceForOneKG" class="control-label"></label>
            <input value="0" asp-for="SafePriceForOneKG" class="form-control" />
            <span asp-validation-for="SafePriceForOneKG" class="text-danger"></span>
        </div>
    </div>
    <a href="#nds" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="nds"><h5>НДС</h5></a>
    <hr />
    <div class="row collapse " id="nds">
        <div class="form-group col-md-2">
            <label asp-for="BuyPriceNDS" class="control-label"></label>
            <select asp-for="BuyPriceNDS" class="form-control">
                <option value="0">0%</option>
                <option value="0.1">10%</option>
            </select>
            <span asp-validation-for="BuyPriceNDS" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="SellPriceNDS" class="control-label"></label>
            <select asp-for="SellPriceNDS" class="form-control">
                <option value="0">0%</option>
                <option value="0.1">10%</option>
            </select>
            <span asp-validation-for="SellPriceNDS" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="ShipPriceNDS" class="control-label"></label>
            <select asp-for="ShipPriceNDS" class="form-control">
                <option value="0">0%</option>
                <option value="0.2">20%</option>
            </select>
            <span asp-validation-for="ShipPriceNDS" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="SafePriceNDS" class="control-label"></label>
            <select asp-for="SafePriceNDS" class="form-control">
                <option value="0">0%</option>
                <option value="0.2">20%</option>
            </select>
            <span asp-validation-for="SafePriceNDS" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MoneyNDS" class="control-label"></label>
            <select asp-for="MoneyNDS" class="form-control">
                <option value="0.01">1%</option>
                <option value="0.2">20%</option>
            </select>
            <span asp-validation-for="MoneyNDS" class="text-danger"></span>
        </div>
    </div>
    <a href="#oneinfo1" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="oneinfo1"><h5>Доставка, приемка и транспортные расходы</h5></a>
    <hr />
    <div class="row collapse" id="oneinfo1">
        <div class="col-md-4">
            <h5>Доставка и приемка</h5>
            <hr />

            <div class="form-group">
                <label asp-for="DeltaProshenaya" class="control-label"></label>
                <input value="0" asp-for="DeltaProshenaya" class="form-control" />
                <span asp-validation-for="DeltaProshenaya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeltaCompinsation" class="control-label"></label>
                <select asp-for="DeltaCompinsation" class="form-control">
                    <option value="0">на ТК</option>
                    <option value="1">на продавце</option>
                    <option value="2">без компенсации</option>
                </select>
                <span asp-validation-for="DeltaCompinsation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeltaPrice" class="control-label"></label>
                <input value="0" asp-for="DeltaPrice" class="form-control" />
                <span asp-validation-for="DeltaPrice" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <h5>Транспортные расходы</h5>
            <hr />
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="transoprtScheme" class="control-label"></label>
                    <select asp-for="transoprtScheme" class="form-control">
                        <option value="0"> ByShipCount по отгруженному количеству</option>
                        <option value="1">по доставленному количеству</option>
                    </select>
                    <span asp-validation-for="transoprtScheme" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ACTBUNumber" class="control-label"></label>
                    <input value="0" asp-for="ACTBUNumber" class="form-control" />
                    <span asp-validation-for="ACTBUNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ACTBUDate" class="control-label"></label>
                    <input type="date" asp-for="ACTBUDate" class="form-control datepick" />
                    <span asp-validation-for="ACTBUDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TTNType" class="control-label"></label>
                    <input value="0" asp-for="TTNType" class="form-control" />
                    <span asp-validation-for="TTNType" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="transoprtPayWithNDS" class="control-label"></label>
                    <input value="0" asp-for="transoprtPayWithNDS" class="form-control" />
                    <span asp-validation-for="transoprtPayWithNDS" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Покупка</h5>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="buyScheme" class="control-label"></label>
                    <select asp-for="buyScheme" class="form-control">
                        <option value="0">по отгруженному количеству</option>
                        <option value="0">по доставленному количеству</option>
                    </select>
                    <span asp-validation-for="buyScheme" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="buyActBU" class="control-label">Номер акта БУ</label>
                    <input value="0" asp-for="buyActBU" class="form-control" />
                    <span asp-validation-for="buyActBU" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="buyActDate" class="control-label"></label>
                    <input value="" type="date" asp-for="buyActDate" class="form-control datepick" onload="" />
                    <span asp-validation-for="buyActDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="buySummWithNDS" class="control-label"></label>
                    <input value="0" asp-for="buySummWithNDS" class="form-control" />
                    <span asp-validation-for="buySummWithNDS" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse" id="oneinfo2">
        <div class="form-group col-md-3">
            <label asp-for="buyScheme" class="control-label"></label>
            <select asp-for="buyScheme" class="form-control">
                <option value="0">по отгруженному количеству</option>
                <option value="0">по доставленному количеству</option>
            </select>
            <span asp-validation-for="buyScheme" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="buyActBU" class="control-label">Номер акта БУ</label>
            <input value="0" asp-for="buyActBU" class="form-control" />
            <span asp-validation-for="buyActBU" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="buyActDate" class="control-label"></label>
            <input value="" type="date" asp-for="buyActDate" class="form-control" onload="" />
            <span asp-validation-for="buyActDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="buySummWithNDS" class="control-label"></label>
            <input value="0" asp-for="buySummWithNDS" class="form-control" />
            <span asp-validation-for="buySummWithNDS" class="text-danger"></span>
        </div>
    </div>
    <a href="#carantcert" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="carantcert"><h5>Карантийный сертефикат</h5></a>
    <hr />
    <div class="row collapse" id="carantcert">
        <div class="form-group col-md-3">
            <label asp-for="cSNumber" class="control-label"></label>
            <input value="0" asp-for="cSNumber" class="form-control" />
            <span asp-validation-for="cSNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="cSShipPoint" class="control-label"></label>
            <input value="0" asp-for="cSShipPoint" class="form-control" />
            <span asp-validation-for="cSShipPoint" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="cSOtgruz" class="control-label"></label>
            <input value="0" asp-for="cSOtgruz" class="form-control" />
            <span asp-validation-for="cSOtgruz" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="cSOneKGPriceWithoutNDS" class="control-label"></label>
            <input value="0" asp-for="cSOneKGPriceWithoutNDS" class="form-control" />
            <span asp-validation-for="cSOneKGPriceWithoutNDS" class="text-danger"></span>
        </div>
    </div>

    <a href="#info3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="info3"><h5>Хранение. Доп. расходы. Продажа</h5></a>
    <hr />
    <div class="row collapse" id="info3">
        <div class="col-md-4">
            <h5>Хранение</h5>
            <hr />
            <div class="form-group">
                <label asp-for="safeContr" class="control-label"></label>
                <input value="0" asp-for="safeContr" class="form-control" />
                <span asp-validation-for="safeContr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="safeActBU" class="control-label"></label>
                <input value="0" asp-for="safeActBU" class="form-control" />
                <span asp-validation-for="safeActBU" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="safeActDate" class="control-label"></label>
                <input asp-for="safeActDate" class="form-control" type="date"/>
                <span asp-validation-for="safeActDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Доп расходы</h5>
            <hr />
            <div class="form-group">
                <label asp-for="raschAgentskije" class="control-label"></label>
                <input value="0" asp-for="raschAgentskije" class="form-control" />
                <span asp-validation-for="raschAgentskije" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="raschProchee" class="control-label"></label>
                <input value="0" asp-for="raschProchee" class="form-control" />
                <span asp-validation-for="raschProchee" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Продажа</h5>
            <hr />
            <div class="form-group">
                <label asp-for="prodDogovor" class="control-label"></label>
                <input value="0" asp-for="prodDogovor" class="form-control" />
                <span asp-validation-for="prodDogovor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodActBU" class="control-label"></label>
                <input value="0" asp-for="prodActBU" class="form-control" />
                <span asp-validation-for="prodActBU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodActDate" class="control-label"></label>
                <input type="date" asp-for="prodActDate" class="form-control datepick" />
                <span asp-validation-for="prodActDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodPayWithNDS" class="control-label"></label>
                <input value="0" asp-for="prodPayWithNDS" class="form-control" />
                <span asp-validation-for="prodPayWithNDS" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="display: none">
        <div class="form-group">
            <label asp-for="DeltaShipping" class="control-label"></label>
            <input value="0" asp-for="DeltaShipping" class="form-control" />
            <span asp-validation-for="DeltaShipping" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SummDeltaShipp" class="control-label"></label>
            <input value="0" asp-for="SummDeltaShipp" class="form-control" />
            <span asp-validation-for="SummDeltaShipp" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SubmitDelta" class="control-label"></label>
            <input value="0" asp-for="SubmitDelta" class="form-control" />
            <span asp-validation-for="SubmitDelta" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ShipPriceWithNDS" class="control-label"></label>
            <input value="0" asp-for="ShipPriceWithNDS" class="form-control" />
            <span asp-validation-for="ShipPriceWithNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShipSancForNum" class="control-label"></label>
            <input value="0" asp-for="ShipSancForNum" class="form-control" />
            <span asp-validation-for="ShipSancForNum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TransportdopRaschod" class="control-label"></label>
            <input value="0" asp-for="TransportdopRaschod" class="form-control" />
            <span asp-validation-for="TransportdopRaschod" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="transoprtSummWithNDS" class="control-label"></label>
            <input value="0" asp-for="transoprtSummWithNDS" class="form-control" />
            <span asp-validation-for="transoprtSummWithNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="transoprtShipNDS" class="control-label"></label>
            <input value="0" asp-for="transoprtShipNDS" class="form-control" />
            <span asp-validation-for="transoprtShipNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="transoprtShipWithOutNDS" class="control-label"></label>
            <input value="0" asp-for="transoprtShipWithOutNDS" class="form-control" />
            <span asp-validation-for="transoprtShipWithOutNDS" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="buyWithNDS" class="control-label"></label>
            <input value="0" asp-for="buyWithNDS" class="form-control" />
            <span asp-validation-for="buyWithNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="buySancForLost" class="control-label"></label>
            <input asp-for="buySancForLost" class="form-control"></input>
            <span asp-validation-for="buySancForLost" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="buyWithCompensation" class="control-label"></label>
            <input value="0" asp-for="buyWithCompensation" class="form-control" />
            <span asp-validation-for="buyWithCompensation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="withOutNDS" class="control-label"></label>
            <input value="0" asp-for="withOutNDS" class="form-control" />
            <span asp-validation-for="withOutNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="buyNDS" class="control-label"></label>
            <input value="0" asp-for="buyNDS" class="form-control" />
            <span asp-validation-for="buyNDS" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="cSNumber" class="control-label"></label>
            <input value="0" asp-for="cSNumber" class="form-control" />
            <span asp-validation-for="cSNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="cSShipPoint" class="control-label"></label>
            <input value="0" asp-for="cSShipPoint" class="form-control" />
            <span asp-validation-for="cSShipPoint" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="cSOtgruz" class="control-label"></label>
            <input value="0" asp-for="cSOtgruz" class="form-control" />
            <span asp-validation-for="cSOtgruz" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="cSOneKGPriceWithoutNDS" class="control-label"></label>
            <input value="0" asp-for="cSOneKGPriceWithoutNDS" class="form-control" />
            <span asp-validation-for="cSOneKGPriceWithoutNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="cSSumm" class="control-label"></label>
            <input value="0" asp-for="cSSumm" class="form-control" />
            <span asp-validation-for="cSSumm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="safePriceWithNDS" class="control-label"></label>
            <input value="0" asp-for="safePriceWithNDS" class="form-control" />
            <span asp-validation-for="safePriceWithNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="safeNDSSUMM" class="control-label"></label>
            <input value="0" asp-for="safeNDSSUMM" class="form-control" />
            <span asp-validation-for="safeNDSSUMM" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="safeSUMMWithOutNDS" class="control-label"></label>
            <input value="0" asp-for="safeSUMMWithOutNDS" class="form-control" />
            <span asp-validation-for="safeSUMMWithOutNDS" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="raschSummAll" class="control-label"></label>
            <input value="0" asp-for="raschSummAll" class="form-control" />
            <span asp-validation-for="raschSummAll" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="prodWithNDS" class="control-label"></label>
            <input value="0" asp-for="prodWithNDS" class="form-control" />
            <span asp-validation-for="prodWithNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="prodWithOutNDS" class="control-label"></label>
            <input value="0" asp-for="prodWithOutNDS" class="form-control" />
            <span asp-validation-for="prodWithOutNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="prodNDSSumm" class="control-label"></label>
            <input value="0" asp-for="prodNDSSumm" class="form-control" />
            <span asp-validation-for="prodNDSSumm" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="nakRaschWithOutNDS" class="control-label"></label>
            <input value="0" asp-for="nakRaschWithOutNDS" class="form-control" />
            <span asp-validation-for="nakRaschWithOutNDS" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nakRasch" class="control-label"></label>
            <input value="0" asp-for="nakRasch" class="form-control" />
            <span asp-validation-for="nakRasch" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nakRaschSUMM" class="control-label"></label>
            <input value="0" asp-for="nakRaschSUMM" class="form-control" />
            <span asp-validation-for="nakRaschSUMM" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="marjPribyl" class="control-label"></label>
            <input value="0" asp-for="marjPribyl" class="form-control" />
            <span asp-validation-for="marjPribyl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="marjiNalnost" class="control-label"></label>
            <input value="0" asp-for="marjiNalnost" class="form-control" />
            <span asp-validation-for="marjiNalnost" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="marjaOneKg" class="control-label"></label>
            <input value="0" asp-for="marjaOneKg" class="form-control" />
            <span asp-validation-for="marjaOneKg" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="prybDoNP" class="control-label"></label>
            <input value="0" asp-for="prybDoNP" class="form-control" />
            <span asp-validation-for="prybDoNP" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nalogNP" class="control-label"></label>
            <input value="0" asp-for="nalogNP" class="form-control" />
            <span asp-validation-for="nalogNP" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="chistPryb" class="control-label"></label>
            <input value="0" asp-for="chistPryb" class="form-control" />
            <span asp-validation-for="chistPryb" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="chistPrybOneKG" class="control-label"></label>
            <input value="0" asp-for="chistPrybOneKG" class="form-control" />
            <span asp-validation-for="chistPrybOneKG" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="chistPrybRenta" class="control-label"></label>
            <input value="0" asp-for="chistPrybRenta" class="form-control" />
            <span asp-validation-for="chistPrybRenta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="poteriPriDostWithOutCompensation" class="control-label"></label>
            <input value="0" asp-for="poteriPriDostWithOutCompensation" class="form-control" />
            <span asp-validation-for="poteriPriDostWithOutCompensation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="poteriPribPriDostWithOutCompensation" class="control-label"></label>
            <input value="0" asp-for="poteriPribPriDostWithOutCompensation" class="form-control" />
            <span asp-validation-for="poteriPribPriDostWithOutCompensation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="poteriDostavPrijem" class="control-label"></label>
            <input value="0" asp-for="poteriDostavPrijem" class="form-control" />
            <span asp-validation-for="poteriDostavPrijem" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="poteriPryb" class="control-label"></label>
            <input value="0" asp-for="poteriPryb" class="form-control" />
            <span asp-validation-for="poteriPryb" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="chistPrybnedPryb" class="control-label"></label>
            <input value="0" asp-for="chistPrybnedPryb" class="form-control" />
            <span asp-validation-for="chistPrybnedPryb" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="chistPrybOneKGFinish" class="control-label"></label>
            <input value="0" asp-for="chistPrybOneKGFinish" class="form-control" />
            <span asp-validation-for="chistPrybOneKGFinish" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="finishRenta" class="control-label"></label>
            <input value="0" asp-for="finishRenta" class="form-control" />
            <span asp-validation-for="finishRenta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelledId" class="control-label"></label>
            <input value="0" asp-for="SelledId" class="form-control" />
            <span asp-validation-for="SelledId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShipperId" class="control-label"></label>
            <input value="0" asp-for="ShipperId" class="form-control" />
            <span asp-validation-for="ShipperId" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-succes" />
    </div>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>


<script>
    console.log(@ViewBag.ParentDealID)
    var Showed1 = false;
    $("#Seller").on('input', () => {
        $("#SelledIdList").html('');
        $.post("/api/contragents/find/" + $("#Seller").val()).done((data) => {
            data = JSON.parse(data);
            $.each(data, (key, val) => {
                $('#SelledIdList').append('<li class="list-group-item ">' + val.ContrAgent_Name + '.<span class="text-muted" style="color: transparent!important">' + val.ContrAgentID + '</span></li>');

            });
            if (!Showed1) {
                $("#SelledIdList").toggleClass("d-none");
                Showed1 = true;
            }

        })
    });
    $('#SelledIdList').on('click', 'li', function() {
        var click_text = $(this).text().split('.');
        $('#Seller').val($.trim(click_text[0]));
        $("#SelledIdList").html('');
        if (Showed1) {
                $("#SelledIdList").toggleClass("d-none");
                Showed1 = false;
            }
        $("#SelledId").val($.trim(click_text[1]));
        console.log($("#SelledId").val());
    });


    var Showed2 = false;
    $("#Shipper").on('input', () => {
        $("#ShipperIdList").html('');
        $.post("/api/contragents/find/" + $("#Shipper").val()).done((data) => {
            data = JSON.parse(data);
            $.each(data, (key, val) => {
                $('#ShipperIdList').append('<li class="list-group-item ">' + val.ContrAgent_Name + '.<span class="text-muted" style="color: transparent!important">' + val.ContrAgentID + '</span></li>');

            });
            if (!Showed2) {
                $("#ShipperIdList").toggleClass("d-none");
                Showed2 = true;
            }

        })
    });
    $('#ShipperIdList').on('click', 'li', function() {
        var click_text = $(this).text().split('.');
        $('#Shipper').val($.trim(click_text[0]));
        $("#ShipperIdList").html('');
        if (Showed2) {
                $("#ShipperIdList").toggleClass("d-none");
                Showed2 = false;
            }
        $("#ShipperId").val($.trim(click_text[1]));
        console.log($("#ShipperId").val());
    });

    $("input[type=date]").val(new Date().toISOString().split('T')[0]);
    function CalculateEtap() {
        var result;
        console.log(@ViewBag.ParentDeal);
        $.post("/panel/deals/calculateetap/@ViewBag.ParentDealID", $("#newetapform").serialize()).done((data) => {
            var result = JSON.parse(data);
            Object.keys(result).forEach(function(k){
                console.log(k + ': ' + result[k]);
                if ($("#" + k).length) {
                    switch (k) {
                        case "SelledId":
                            $("#" + k).val(result[k].ContrAgentID);
                            break;
                        case "ShipperId":
                            $("#" + k).val(result[k].ContrAgentID);
                            break;
                        case "DealType":
                            $("#" + k).val(result[k].Id);
                            break;
                        case "Product":
                            $("#" + k).val(result[k].ProductId);
                            break;
                        default:
                            if (k.toLowerCase().includes("date")) {
                                $("#" + k).val(result[k].split('T')[0]);
                            } else {$("#" + k).val(result[k]);}

                            break;
                    }

                }

        });

});
    }

</script>

