﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="7ae9d635c9f5306d" />
    <meta name="google-site-verification" content="tf416O8gURBxrOQ8uuGdo4TW61r4GqsxqO3EJygFjfM">
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewBag.Description">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="google-site-verification" content="NIxC9AFfgWhNtf4bvUqX9P4TRnv6ciPYd_SJSoEcmuk" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/home/css/animate.css">
    <link rel="stylesheet" href="/home/css/icomoon.css">
    <link rel="stylesheet" href="/home/css/simple-line-icons.css">
    <link rel="stylesheet" href="/home/css/bootstrap.css">
    <link rel="stylesheet" href="/home/css/superfish.css">
    <link rel="stylesheet" href="/home/css/flexslider.css">
    <link rel="stylesheet" href="/home/css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(54655789, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/54655789" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <div class="modal-contact-form">
        <button style="position: absolute; top: 10px; right: 10px; font-size: 32px; background-color: transparent; border: none; color: white" onclick="$('.modal-contact-form').fadeOut(300)">
            <i class="sl-icon-close"></i>
        </button>
        <form method="post" id="ajax_form" action="">
            <div class="form-group">
                <label class="form-control-label" for="nameform">Имя</label>
                <input class="form-control" type="text" placeholder="Имя" name="nameform" id="nameform" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="emailform">Email</label>
                <input class="form-control" type="email" placeholder="Email" name="emailform" id="emailform" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="phoneform">Номер телефона</label>
                <input class="form-control" type="number" placeholder="Номер телефона" name="phoneform" id="phoneform" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="textform">Ваше сообщение</label>
                <textarea class="form-control" type="text" placeholder="Ваше сообщение" name="textform" id="textform" rows="2"></textarea>
            </div>
            <input class="btn btn-success" value="Отправить заявку" onclick="sendAnswer()" />
        </form>
    </div>
    <button class="bottom-floating" style="font-size: 42px; line-height: 70px; color: white;" onclick="$('.modal-contact-form').fadeIn(300)">
        <i class="sl-icon-phone"></i>
    </button>
    <nav class="desktop-menu">
        <div class="container">
            <div class="my-menu">
                <div style="border: 4px solid #00ADB5">
                    <a href="/"><h1 style="font-size: 32px; margin: 10px">КСМ</h1></a>
                </div>

                <div class="my-meu-items">
                    <div class="item">
                        <a href="/products">Продукция</a>
                        <div class="item-drop-content">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 d-flex justify-content-end" style="border-right: 2px solid #ccc; min-height: 400px;">
                                            <div style="min-width: 300px; width: auto; min-height: 350px; background: url(https://ksm-agro.com/home/images/oves.jpg); background-repeat: no-repeat; background-position: center; background-size: contain"></div>

                                        </div>
                                        <div class="col-md-7">
                                            <h3 style="color: #ccc">Продукция ООО КСМ</h3>
                                            <ul style="list-style-type: none" class="sub-menu-ul">
                                                <li><a href="/products#agriculture">Агрокультуры</a></li>
                                                <li><a href="/products#minerals">Минеральные удобрения</a></li>
                                                <li><a href="/products#nerud">Нерудные материалы</a> </li>
                                                <li><a href="/products#metiz">Металлоизделия</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="/services">Услуги</a>
                        <div class="item-drop-content">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 d-flex justify-content-end" style="border-right: 2px solid #ccc; min-height: 400px;">
                                            <div style="min-width: 300px; width: auto; min-height: 350px; background: url(https://ksm-agro.com/home/images/s-menu.jfif); background-repeat: no-repeat; background-position: center; background-size: contain"></div>

                                        </div>
                                        <div class="col-md-7">
                                            <h3 style="color: #ccc">Услуги</h3>
                                            <ul style="list-style-type: none" class="sub-menu-ul">
                                                <li><a href="/services/building">Строительно-монтажные работы</a></li>
                                                <li><a href="/services/demolition">Выполнение демонтажа</a></li>
                                                <li><a href="/services/logistics">Логистические услуги</a></li>
                                                <li><a href="/services/ved">Аутсорсинг ВЭД</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item"><a href="/news">Новости</a> </div>
                    <div class="item">
                        <a href="#">О Компании</a>
                        <div class="item-drop-content">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 d-flex justify-content-end" style="border-right: 2px solid #ccc; min-height: 400px;">
                                            <div style="min-width: 300px; width: auto; min-height: 350px; background: url(https://ksm-agro.com/home/images/s2-menu.jfif); background-repeat: no-repeat; background-position: center; background-size: contain"></div>

                                        </div>
                                        <div class="col-md-7">
                                            <h3 style="color: #ccc">Публичная информация</h3>
                                            <ul style="list-style-type: none" class="sub-menu-ul">
                                                <li><a href="/docs">Документы</a></li>
                                                <li><a href="/tech">Техника</a> </li>
                                                <li><a href="/employers">Персонал</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item"><a href="/contacts">Контакты</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="small-logo">
            <a href="/"><h1 style="font-size: 32px; margin: 10px">КСМ</h1></a>
        </div>
        <button id="open-menu" class="bg-transparent" style="font-size: 20px; line-height: 40px; position: absolute; right: 10px; border: none; background-color: transparent; margin-top: 10px;">
            <i class="sl-icon-menu"></i>
        </button>
    </div>
    <div class="mobile-menu-items" id="mobile-menu-items">
        <button id="close-menu" class="bg-transparent" style="font-size: 20px; line-height: 40px; position: absolute; right: 10px; border: none; background-color: transparent;">
            <i class="sl-icon-close" style="color: white"></i>
        </button>
        <ul style="margin: 0 auto; padding: 0;">
            <li><a href="/">Главная</a></li>
            <li>
                <a href="#" data-id="ul1" class="show-sub-items">Продукция</a>
                <ul id="ul1">
                    <li><a href="/products#agriculture">Агрокультуры</a></li>
                    <li><a href="/products#minerals">Минеральные удобрения</a></li>
                    <li><a href="/products#nerud">Нерудные материалы</a> </li>
                    <li><a href="/products#metiz">Металлоизделия</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-id="ul2" class="show-sub-items-2">Услуги</a>
                <ul id="ul2">
                    <li><a href="/services/building">Строительно-монтажные работы</a></li>
                    <li><a href="/services/demolition">Выполнение демонтажа</a></li>
                    <li><a href="/services/logistics">Логистические услуги</a></li>
                    <li><a href="/services/ved">Аутсорсинг ВЭД</a></li>
                </ul>
            </li>
            <li><a href="/news">Новости</a></li>
            <li>
                <a href="#" data-id="ul3" class="show-sub-items-3">О компании</a>
                <ul id="ul3">
                    <li><a href="/docs">Документы</a></li>
                    <li><a href="/tech">Техника</a></li>
                    <li><a href="/employers">Персонал</a></li>
                </ul>
            </li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <!-- end:fh5co-header -->

            @RenderBody()
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="copyright">
                                <p>
                                    ООО КСМ <br />
                                    Организуем поставки качественной продукции в ваш регион
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Комания</h3>
                                    <ul class="link">
                                        <li>
                                            <a href="/">Главная</a>
                                        </li>
                                        <li>
                                            <a href="/products">Продукция</a>
                                        </li>
                                        <li><a href="/services">Услуги</a></li>
                                        <li><a href="/news">Новости</a></li>
                                        <li>
                                            <a href="#" class="fh5co-sub-ddown">О Компании</a>
                                        </li>
                                        <li><a href="/contacts">Контакты</a></li>
                                        <li><a href="/privacy">Политкиа безопасности</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <h3>Новости</h3>
                                    <p><small>Подпишитесь, чтобы быть в курсе цен и новостей</small></p>
                                    <form action="#" id="form-subscribe">
                                        <div class="form-field">
                                            <input type="email" placeholder="Email" id="email">
                                            <input type="submit" id="submit" value="Подписаться">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-2">
                            <ul class="social-icons">
                                <li>
                                    <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                    <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                    <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                    <a href="#"><i class="icon-linkedin-with-circle"></i></a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </footer>


        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->
    <!-- jQuery -->
    <script src="/home/js/jquery.min.js"></script>
    <script src="/home/js/jquery.easing.1.3.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/jquery.waypoints.min.js"></script>
    <script src="/home/js/hoverIntent.js"></script>
    <script src="/home/js/superfish.js"></script>
    <script src="/home/js/jquery.flexslider-min.js"></script>
    <script src="/home/js/jquery.stellar.min.js"></script>
    <script src="/home/js/jquery.countTo.js"></script>
    <script src="/home/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://ksm-agro.com/js/api.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            getUserData("@User.Identity.Name");
        </script>
    }
    <script>
        $('#open-menu').click(() => {
            $('#mobile-menu-items').toggleClass("active");
        })

        $('#close-menu').click(() => {
            $('#mobile-menu-items').toggleClass("active");
        })

        $('.show-sub-items').click((e) => {
            $('#ul1').toggleClass("active");
        });
        $('.show-sub-items-2').click((e) => {
            $('#ul2').toggleClass("active");
        });
        $('.show-sub-items-3').click((e) => {
            $('#ul3').toggleClass("active");
        });

        $(document).ready(function () {
            $('.portfolio-row-half').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 1
                    }
                }]
            });

            $('.clients').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 1
                    }
                }]
            });
        });
        function sendAnswer() {
            var name = document.getElementById("nameform").value;
            var phone = document.getElementById("phoneform").value;
            var text = document.getElementById("textform").value;
            var email = document.getElementById("emailform").value;
            $.post("/answer", { name: name, phone: phone, text: text, email: email })
                .done((data) => {
                    console.log(data.content)
                });

        }
        [].forEach.call(document.querySelectorAll('img[data-src]'), function (img) {
            img.setAttribute('src', img.getAttribute('data-src'));
            img.onload = function () {
                img.removeAttribute('data-src');
            };
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144727633-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144727633-1');
    </script>


</body>
</html>
