﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(login/images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>

                <form class="login100-form validate-form" method="post" action="/login">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Логин обязателен">
                        <span class="label-input100">Логин</span>
                        <input class="input100" type="text" name="login" placeholder="Введите логин">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Пароль обязателен">
                        <span class="label-input100">Пароль</span>
                        <input class="input100" type="password" name="password" placeholder="Введите пароль">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-b-30">
                        <div>
                            <a href="/register" class="txt1">
                                Зарегистрироваться
                            </a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Вход
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/login/vendor/animsition/js/animsition.min.js"></script>
    <script src="/login/vendor/bootstrap/js/popper.js"></script>
    <script src="/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/login/vendor/select2/select2.min.js"></script>
    <script src="/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="/login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/login/vendor/countdowntime/countdowntime.js"></script>
    <script src="/login/js/main.js"></script>

</body>
</html>
