﻿@model KSM_Agro.Models.Department

@{
    ViewData["Title"] = "Добавить подразделение";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h4>Новое подразделение</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmentTitle" class="control-label"></label>
                    <input asp-for="DepartmentTitle" class="form-control" />
                    <span asp-validation-for="DepartmentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentInn" class="control-label"></label>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" onclick="searchCompany()"><i class="fa fa-search-plus"> </i></span>
                    </div>

                    <input asp-for="DepartmentInn" class="form-control" />
                    <span asp-validation-for="DepartmentInn" class="text-danger"></span>
                </div>
                <small class="text-primary">Введите ИНН и нажмите кнопку поиска возле поля. Данные вставятся автоматически</small>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentKpp" class="control-label"></label>
                <input asp-for="DepartmentKpp" class="form-control" />
                <span asp-validation-for="DepartmentKpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentOgrn" class="control-label"></label>
                <input asp-for="DepartmentOgrn" class="form-control" />
                <span asp-validation-for="DepartmentOgrn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentAddress" class="control-label"></label>
                <input asp-for="DepartmentAddress" class="form-control" />
                <span asp-validation-for="DepartmentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentBank" class="control-label"></label>
                <input asp-for="DepartmentBank" class="form-control" />
                <span asp-validation-for="DepartmentBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentBik" class="control-label"></label>
                <input asp-for="DepartmentBik" class="form-control" />
                <span asp-validation-for="DepartmentBik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

<script type="text/javascript">
    function searchCompany() {
        $.ajax
        ({
          type: "POST",
          url: "https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/party",
          dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization": "Token  b9d4ee31bb2295fe05dc307a4015e4dc991816ca"
          },
          data: '{ "query":'+$('#DepartmentInn').val()+'}',
            success: function (data) {
                $('#DepartmentKpp').val(data.suggestions[0].data.kpp);
                $('#DepartmentOgrn').val(data.suggestions[0].data.ogrn);
                $('#DepartmentTitle').val(data.suggestions[0].data.name.short_with_opf);
                $('#DepartmentAddress').val(data.suggestions[0].data.address.unrestricted_value);
            }
        });
    }
</script>

