﻿@model KSM_Agro.Models.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentInn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentInn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentKpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentKpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentOgrn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentOgrn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentBank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentBank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentBik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentBik)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
