﻿@model KSM_Agro.Models.Department

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Edit</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentID" />
            <div class="form-group">
                <label asp-for="DepartmentTitle" class="control-label"></label>
                <input asp-for="DepartmentTitle" class="form-control" />
                <span asp-validation-for="DepartmentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentInn" class="control-label"></label>
                <input asp-for="DepartmentInn" class="form-control" />
                <span asp-validation-for="DepartmentInn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentKpp" class="control-label"></label>
                <input asp-for="DepartmentKpp" class="form-control" />
                <span asp-validation-for="DepartmentKpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentOgrn" class="control-label"></label>
                <input asp-for="DepartmentOgrn" class="form-control" />
                <span asp-validation-for="DepartmentOgrn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentAddress" class="control-label"></label>
                <input asp-for="DepartmentAddress" class="form-control" />
                <span asp-validation-for="DepartmentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentBank" class="control-label"></label>
                <input asp-for="DepartmentBank" class="form-control" />
                <span asp-validation-for="DepartmentBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentBik" class="control-label"></label>
                <input asp-for="DepartmentBik" class="form-control" />
                <span asp-validation-for="DepartmentBik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

