﻿@model IEnumerable<KSM_Agro.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentInn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentKpp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentOgrn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentBank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentBik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentInn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentKpp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentOgrn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentBank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentBik)
            </td>
                <td style="text-align: center;">
                    <a asp-action="Edit" asp-route-id="@item.DepartmentID" class="btn btn-info"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.DepartmentID" class="btn btn-warning"><i class="fa fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.DepartmentID" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                </td>
        </tr>
}
    </tbody>
</table>
