﻿@model KSM_Agro.Models.ContrAgent

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<h4>Новый контрагент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContrAgent_Name" class="control-label"></label>
                <input asp-for="ContrAgent_Name" class="form-control" required/>
                <span asp-validation-for="ContrAgent_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Inn" class="control-label"></label>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" onclick="searchCompany()"><i class="fa fa-search-plus"> </i></span>
                    </div>

                    <input asp-for="ContrAgent_Inn" class="form-control" />
                    <span asp-validation-for="ContrAgent_Inn" class="text-danger"></span>
                </div>
                <small class="text-primary">Введите ИНН и нажмите кнопку поиска возле поля. Данные вставятся автоматически</small>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Kpp" class="control-label"></label>
                <input asp-for="ContrAgent_Kpp" class="form-control" />
                <span asp-validation-for="ContrAgent_Kpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Ogrn" class="control-label"></label>
                <input asp-for="ContrAgent_Ogrn" class="form-control" />
                <span asp-validation-for="ContrAgent_Ogrn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Contacts" class="control-label">Контакты</label>
                <input asp-for="ContrAgent_Contacts" class="form-control" />
                <span asp-validation-for="ContrAgent_Contacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>


<script>
    function searchCompany() {
        $.ajax
        ({
          type: "POST",
          url: "https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/party",
          dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization": "Token  b9d4ee31bb2295fe05dc307a4015e4dc991816ca"
          },
          data: '{ "query":'+$('#ContrAgent_Inn').val()+'}',
            success: function (data) {
                $('#ContrAgent_Kpp').val(data.suggestions[0].data.kpp);
                $('#ContrAgent_Ogrn').val(data.suggestions[0].data.ogrn);
                $('#ContrAgent_Name').val(data.suggestions[0].data.name.short_with_opf);
            }
        });
    }
</script>
