﻿@model KSM_Agro.Models.ContrAgent

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContrAgent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Inn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Inn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Kpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Kpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Ogrn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Ogrn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Contacts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Contacts)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContrAgentID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
