﻿@model KSM_Agro.Models.ContrAgent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContrAgent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Inn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Inn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Kpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Kpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Ogrn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Ogrn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContrAgent_Contacts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContrAgent_Contacts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContrAgentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
