﻿@model KSM_Agro.Models.ContrAgent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Edit</h2>

<h4>ContrAgent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContrAgentID" />
            <div class="form-group">
                <label asp-for="ContrAgent_Name" class="control-label"></label>
                <input asp-for="ContrAgent_Name" class="form-control" />
                <span asp-validation-for="ContrAgent_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Inn" class="control-label"></label>
                <input asp-for="ContrAgent_Inn" class="form-control" />
                <span asp-validation-for="ContrAgent_Inn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Kpp" class="control-label"></label>
                <input asp-for="ContrAgent_Kpp" class="form-control" />
                <span asp-validation-for="ContrAgent_Kpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Ogrn" class="control-label"></label>
                <input asp-for="ContrAgent_Ogrn" class="form-control" />
                <span asp-validation-for="ContrAgent_Ogrn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrAgent_Contacts" class="control-label"></label>
                <input asp-for="ContrAgent_Contacts" class="form-control" />
                <span asp-validation-for="ContrAgent_Contacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

