﻿@model IEnumerable<KSM_Agro.Models.ContrAgent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContrAgent_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContrAgent_Inn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContrAgent_Kpp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContrAgent_Ogrn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContrAgent_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContrAgent_Inn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContrAgent_Kpp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContrAgent_Ogrn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContrAgentID" class="btn btn-warning"><i class="fa fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ContrAgentID" class="btn btn-primary"><i class="fa fas fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ContrAgentID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).load(function () {
        $('#table').DataTable({
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }, ajax: "/api/ContrAgents"
        });
    });
</script>



